.aside
	
.aside-card
	padding: 48px

	&--accent
		background: #5200ff

		.post-card
			border-bottom: 1px solid #3cffd0
			padding-bottom: 24px
			margin-bottom: 24px

			&:last-child
				border: none
				padding: 0
				margin: 0

			&__body
				&:hover
					.post-card__title
						color: @lg rgba(255, 255, 255, .7)

			&__title
				color: #fff

			&__date
				color: #fff

	&__title
		color: #3cffd0
		margin-bottom: 24px

	