.header
  background: $accent-1-medium
  position: relative
  z-index: 996

  &__container
    box: center space-between
    flex-wrap: wrap @xl nowrap
    height: @xl 48px
    padding: 0 16px
    position: relative
    will-change: transform
    max-width: @xl 1182px @md 768px @md-down 480px
    margin: 0 auto

    &--sticky
      position: @sm-down fixed 0 0 null 0
      background: @sm-down #fff
      box-shadow: @sm-down 80px 0 0 #fff, -80px 0 0 #fff
      transform: @sm-down translateY(-100%)
      transition: @sm-down transform .3s ease

      &-show
        transform: @sm-down translateY(0)

  &__logo
    display: block

  &__social
    width: 236px @xl 161px
    position: @xl absolute null null 5px 0
    display: none

  &__nav
    position: relative
    order: @xl-down 9
    display: none @md block
    width: 100% @xl auto
    margin: @md 8px 0 0 @xl 0

    &-list
      box: vertical @md horizontal space-between @xl center
      background: @md-down #512DA8
      padding-top: @md-down 4px
      padding-bottom: @md-down 24px
      margin: @xl 0 24px

      &.visibility-hidden
        visibility: @xl-down visible

    &-item
      position: @md relative
      font-family: $font
      margin: 0 0 8px @md 0

      &:hover
        &:before
          display: @md-down block

      &:after
        content: ""
        height: 40px @md 4px
        margin-top: @md-down -44px
        width: @md-down 4px
        position: absolute auto auto auto 0 @md absolute auto 0 -1px 0
        z-index: 997
        display: none

      &:hover
        background: #FFFF00

        ^^&-link
          text: #000

        ^^&-child-list
          display: @md block

        &:after
          background: $accent-1-medium

      &--arrow
        &:hover

          &:after
            right: auto @md 24px

          ^^^&-link
            text: #000

            &:after
              background-image: resolve("icons/triangle_down-dark.svg")

        ^^&-link:after
          content: ""
          display: block
          background-image: resolve("icons/triangle_right-dark.svg") @md resolve("icons/triangle_down.svg")
          background-repeat: no-repeat
          background-position: center
          size: 24px

      ^&-link
        pointer-events: @md-down none

        &:after
          right: auto @md 24px

    &-link
      text: $neutral 500 15px 1.4
      text-decoration: none
      box: space-between center @md left center
      padding: 0 16px
      height: 48px
      pointer-events: @md-down none

    &-child

      &-list
        display: none
        position: absolute
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25)
        background: #512DA8
        top: @md-down 54px
        bottom: @md-down 0
        width: @md-down 205px
        overflow: @md-down auto
        min-width: @md 190px
        z-index: 999 @md 997
        border-top: 1px solid #EDE7F6

        &.show
          display: @md-down block

      &-item
        border-bottom: 1px solid #EDE7F6

        &:hover
          background: @md #FFFF00

        &:last-child
          border: none

      &-link
        text: $neutral 500 17px 1.7
        text-decoration: none
        text-transform: none
        letter-spacing: normal
        white-space: nowrap
        height: 56px
        box: center
        padding: * 16px

        &:hover
          text: #000

  &__panel
    box: center space-between

  &__search
    position: absolute
    left: 16px
    right: 16px
    top: 0
    height: 48px
    display: none

    &-form
      box: center

    &-submit
      position: absolute
      background-image: svg-load("icons/search.svg" fill: #616161)
      background-repeat: no-repeat
      background-position: center
      size: 48px
      right: 48px
      top: 0

      &:before
        display: none

    &-input
      background: #FFD600
      border-color: #FFD600
      min-height: 48px
      padding: 0 96px 0 16px

    &-close
      position: absolute 0 0 0 null

  &__account
    margin-right: @md-down 16px

    &-img
      display: block
      border-radius: 2px
      position: absolute

  &__burger
    display: @md none
    margin-left: 8px

    &.btn--cross
      background-image: resolve("icons/cross-light.svg")

  &--mobile-menu
    ^&__social
      display: @md-down flex
      height: @md-down 56px
      width: @md-down 205px
      position: @md-down absolute 48px 0 null null
      background: @md-down #fff
      padding: @md-down * 24px
      border-top: @md-down $border
      border-bottom: @md-down $border

    ^&__nav
      position: @md-down fixed 37px 0px null null
      width: @md-down 205px
      display: @md-down block
      height: 100vh
      background-color: #512DA8

.mobile-menu

  &-cover
    position: fixed 0 0 0 0
    z-index: 995
    background: $cover-color
    display: none

  &-back
    text: 14px 1.4 600
    line-height: 55px
    padding-left: 44px
    position: absolute 49px 0 null null
    size: 205px 54px
    background-color: #fff
    background-image: resolve("icons/arrow_long.svg")
    background-repeat: no-repeat
    background-position: 11px center
    cursor: pointer
    display: none
    border-bottom: 1px solid $pseudo-neutral-800

    &.show
      display: @md-down block

.overflow-hidden
  overflow: hidden