.home-featured
    display: @xl flex
    gap: @xl 32px
    margin-bottom: 48px

.home-hotnews
    width: 100% @xl 59%
    margin-bottom: 32px @sm 48px @xl 0

    &__body
        &:hover
            ^^&__title
                color: @lg #5200ff

    &__img
        position: absolute 0 null null 0

        &--wrap
            position: relative
            padding-top: 56.5%
            overflow: hidden

            // &:before
            //     content: ''
            //     size: 100%
            //     z-index: 1
            //     position: absolute 0 null null 0
            //     background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%)

    &__info
        position: relative
        z-index: 2
        margin-top: -40px @sm -52px @md -96px
        background: #fff
        padding: 16px
        margin-left: 24px @sm 40px @xl 56px

    &__title
        text: 700 32px 1
        margin: 0
        transition: .2s

    &__text
        color: #000
        text: 400 20px 1.33
        margin: 16px 0 0

.home-topnews
    width: 100% @xl 41%

    &__title
        color: #5200ff
        text: 32px .69
        margin-bottom: 24px

    .post-card
        border-bottom: 1px solid #5200ff
        padding-bottom: 24px
        margin-bottom: 24px

        &__body
            &:hover
                .post-card__title
                    color: @lg #5200ff

        &__title
            color: #000

        &__date
            color: #000

        &:last-child
            border: none
            padding: 0
            margin: 0