.home-releases
    margin: 48px 0

    &__title
        color: #5200ff
        text: 700 32px .69
        margin-bottom: -8px
    
    &__row
        background: #5200ff
        padding: 24px 16px @xl 24px 72px
        display: @xl flex
        align-items: @xl center

    &__posts
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: 16px 24px

        .post-card
            flex: 1 1 100% @xl 1 1 200px

            &__title
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden

    &__actions
        margin: 16px 0 0 @xl 0 0 0 32px

        .btn
            text: 16px
            min-height: 40px
            padding: 0 32px

    