.modal
  position: fixed 0 0 0 0
  background: $cover-color
  justify-content: center
  z-index: 99990
  display: none
  overflow: auto
  opacity: 0
  transition: .3s ease
  padding: 16px @md 32px

  &--open
    display: flex

  &--fadeIn
    opacity: 1

    ^&__square
      transform: translateY(0) scale(1)

  &__square
    transform: translateY(-10px) scale(.98)
    transition: .3s ease
    background: #fff

  &--bg
    background: #adffe7

  &__close
    position: absolute
    right: 0
    top: 0
    z-index: 3

  &__square
    max-width: 416px @md 640px
    width: 100%
    box: vertical left @md horizontal
    margin: auto
    display: none

    &-content
      padding: 20px 16px 24px @sm 40px 40px 20px
      position: relative
      width: 100%

    &-img
      max-width: 110px @md 200px
      width: 100%
      margin: 0 auto 12px @md 0 40px 0 0

    &-row
      display: @md flex
      align-items: @md flex-start

    &-title
      text: #000 500 17px 1.7
      margin: 0 0 20px
      text-align: center @md left

    &-desc
      text: #000 400 17px 1.7

    .btn--input
      min-height: 48px

  .input
    margin: 0 0 16px

    &__elem
      text: 17px 1.7
      border-color: #5200FF

      &::placeholder
        text: #5200FF

    &:last-child
      margin: 0

  &__thank
    max-width: @md 400px
    text-align: center

    ^&__square
      &-title
        text: #000 400 22px 1.5 @sm 24px
        margin: 0 0 4px
        text-align: center

  &__icons
    margin: 0 auto 16px
    size: 40px
    min-width: 40px
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    &-check
      background-image: resolve("icons/check-modal.svg")
