.share-and-up
    .share__social
        amp-social-share.social__link(type="facebook" width="48" height="48" layout="responsive")
            include ../../img/icons/social/facebook-white.svg

        amp-social-share.social__link(type="twitter" width="48" height="48" layout="responsive")
            include ../../img/icons/social/twitter-white.svg

        amp-social-share.social__link(type="email" width="48" height="48" layout="responsive")
            include ../../img/icons/social/email-white.svg