header.header
    .header__container
        a.header__logo(href="#!")
            include ../../img/icons/logo.svg
            | logo

        .header__panel
            button.header__burger.btn--light.btn--icon(on="tap:sidebar.toggle" aria-label="open sidebar")
                include ../../img/icons/burger.svg

amp-sidebar#sidebar.sidebar(layout='nodisplay', side='right')
    .sidebar__row
        button.btn.btn--light.btn--icon(role='button' aria-label='close sidebar' on='tap:sidebar.toggle' tabindex='0')
            include ../../img/icons/cross.svg

    .sidebar__social.social
        a.social__link(href="#!")
            include ../../img/icons/social/facebook.svg
        a.social__link(href="#!")
            include ../../img/icons/social/twitter.svg
        a.social__link(href="#!")
            include ../../img/icons/social/youtube.svg
        a.social__link(href="#!")
            include ../../img/icons/social/telegram.svg

    nav.sidebar__nav
        ul.sidebar__nav-list
            each category in navFooter
                li.sidebar__nav-item
                    a.sidebar__nav-link(href="#!")= category.name

                    if category.childs
                        ul.sidebar__nav-child-list
                            each child in category.childs
                                li.sidebar__nav-child-item
                                    a.sidebar__nav-child-link(href="#!")= child.name
