.share-and-up
    .share__social
        amp-social-share.social__link(type="facebook" width="48" height="48" data-param-text="Hello world" data-param-url="https://example.com/")
        amp-social-share.social__link(type="twitter" width="48" height="48" data-param-text="Hello world" data-param-url="https://example.com/")
        a.social__link.social__link--tg-white(href="#!")
        a.social__link.social__link--copy#copier(href="#!")
        a.social__link.social__link--up(href="#!")