.cookies
    .container
        .cookies__row
            p.cookies__desc This site uses cookies for different purposes. Please set your preferences in Cookie Settings and visit our Cookie policy for more information on how and why cookies are used on this site. <a href="#!">Click here for cookie policy</a>

            .btn__block
                a.btn(href="#!") Cookie settings
                a.btn.btn--accent(href="#") Accept cookies