.modal#subscribe-1
    .modal__square.modal--bg
        button.modal__close.btn.btn--light.btn--cross(data-close-modal)

        .modal__square-content
            .modal__square-row
                .modal__square-img
                    img(src="img/modals/subscribe-1.svg")

                .modal__square-info
                    .modal__square-title Get the latest news, tips and good insights to your inbox

                    form.modal__square-form
                        .input
                            input.input__elem(type="email" placeholder="Email")

                        button.btn.btn--accent.btn--input(type="submit") Subscribe

                        .input__agree By pressing the “Subscribe button” you agree with our <a href="#!">Privacy Policy</a>

.modal#subscribe-2
    .modal__square
        button.modal__close.btn.btn--light.btn--cross(data-close-modal)

        .modal__square-content
            .modal__square-row
                .modal__square-img
                    img(src="img/modals/subscribe-2.png")

                .modal__square-info
                    .modal__square-title Get the latest news, tips and good insights to your inbox

                    form.modal__square-form
                        .input
                            input.input__elem(type="email" placeholder="Email")

                        button.btn.btn--accent.btn--input(type="submit") Subscribe

                        .input__agree By pressing the “Subscribe button” you agree with our <a href="#!">Privacy Policy</a>

.modal#thank-you
    .modal__square.modal--bg.modal__thank
        button.modal__close.btn.btn--light.btn--cross(data-close-modal)

        .modal__square-content
            .modal__icons.modal__icons-check

            .modal__square-title Thank you for your order!
            .modal__square-desc We will get in contact with you soon.


