.push
    .push__row
        .push__title
            .icon.icon--push
            | Turn on push notifications

        .btn--block
            button.btn No thanks
            a.btn.btn--accent(href="#!") Turn on
