.share-and-up
  .share__social
    a.social__link.social__link--fb-white(href="#!") Facebook
    a.social__link.social__link--tw-white(href="#!") Twitter
    a.social__link.social__link--tg-white(href="#!") Telegram
    a.social__link.social__link--copy(href="#") Copy URL
    a.social__link.social__link--up(href="#!") Go up