.btn
	text: #5200FF 700 20px
	white-space: nowrap
	line-height: unset
	min-height: 54px
	border: 1px solid #5200ff
	padding: 0 24px
	border-radius: 40px
	text-decoration: none
	background: transparent
	display: inline-flex
	align-items: center
	justify-content: center
	font-family: var(--font-family)
	outline: 0
	cursor: pointer
	user-select: none
	-webkit-tap-highlight-color: transparent

	&:hover
		border-color: @lg #000
		text: @lg #000

	&--wide
		padding: * 36px

	&--input
		display: flex
		width: 100%
		min-height: 48px
		text: #000 17px 1.7
		border-radius: 0
		font-weight: 400

		&:hover
			border-color: @lg #adffe7
			text: @lg #5200FF

	&--light
		margin: 0
		padding: 0
		outline: 0
		border: 0
		min-height: 1px
		background: transparent
		cursor: pointer

	&--block
		display: flex
		width: 100%

		&-event
			margin: 24px 0 0

		.promocode
			margin: 16px 0 0 @xl 0 0 0 16px
			min-width: 336px
			width: 100%

			&__title
				text: 400 17px 1.7

			&__value
				text: #000 500 17px 1.7

		&-bg
			display: block @xl flex
			align-items: @xl center
			background: #FFF9C4
			padding: 16px

	&--small
		min-height: 24px

	&--event
		text: 500 17px
		width: 100%

	&--big
		min-height: 40px

	&--large
		min-height: 48px

	&--huge
		min-height: 56px

	&--full
		width: 100%

	&--show
		&--open
			display: none

	&--hash-tag
		text: 14px 1.4 normal none none
		background: #5200FF
		color: #fff

		&:hover
			background: @lg #adffe7
			border-color: @lg #adffe7
			color: @lg #000

	&-aside-space
		margin: 32px 16px
		width: auto

	&--accent
		background: #5200FF
		text: #fff

		&:hover
			background: @lg #adffe7
			border-color: @lg #adffe7
			text: @lg #000

	&--accent-2
		background: $accent-2-medium
		text: #fff

		&:hover
			background: @lg $accent-2-medium
			text: @lg #fff

	&--bright
		background: #adffe7
		border-color: #adffe7
		text: #000

		&:hover
			background: @lg #5200FF
			border-color: @lg #5200FF
			text: @lg #fff

	&--black
		background: #000
		text: $neutral
		border: none

		&:hover
			background: @lg #5200FF
			text: @lg $neutral

	&--border-light
		color: #fff
		border-color: #fff
		background: transparent

		&:hover
			color: @lg rgba(255, 255, 255, .7)
			border-color: @lg rgba(255, 255, 255, .7)
			background: @lg transparent

	&--search
		&:before
			content: ''
			size: 24px
			min-width: 24px
			background-repeat: no-repeat
			background-position: center
			background-size: contain

	&--search
		&:before
			background-image: resolve("icons/search.svg")

	&--cross,
	&--cross-white,
	&--burger
		size: 48px
		background-position: center
		background-repeat: no-repeat

	&--burger
		background-image: resolve("icons/burger.svg")

	&--cross
		background-image: resolve("icons/cross.svg")

	&--cross-white
		background-image: resolve("icons/cross-white.svg")

	&--arrow-right
		&:after
			content: ''
			size: 24px
			background-image: resolve("icons/triangle_right-dark.svg")
			background-position: center
			background-repeat: no-repeat
