.btn
  text: $pseudo-neutral-900 14px 1.4 400
  line-height: unset
  min-height: 2rem
  padding: 0 .7rem
  border-radius: 2px
  text-decoration: none
  border: none
  background: transparent
  display: inline-flex
  align-items: center
  justify-content: center
  font-family: $font
  outline: 0
  cursor: pointer
  user-select: none
  -webkit-tap-highlight-color: transparent

  &:hover
    border-color: $accent-1-medium
    color: $accent-1-medium

  &:active
    border-color: $accent-1-dark
    color: $accent-1-dark

  &--wide
    padding: * 16px

  &--input
    display: flex
    width: 100%
    min-height: 40px
    border-radius: 0

  &--light
    margin: 0
    padding: 0
    outline: 0
    border: 0
    background: transparent
    cursor: pointer

  &--block
    display: flex
    width: 100%

  &--small
    min-height: 24px

  &--big
    min-height: 40px

  &--large
    min-height: 48px

  &--huge
    min-height: 56px

  &--full
    width: 100%

  &--show

    &--open
      display: none

  &--hash-tag
    text: $body-small normal none none
    background: $accent-1-light
    color: #fff

    &:hover
      background: $accent-1-medium
      color: #fff

    &:active
      background: $accent-1-dark
      color: #fff

  &-aside-space
    margin: 32px 16px
    width: auto

  &--accent
    background: $accent-1-light
    text: #fff

    &:hover
      background: $accent-1-medium
      text: #fff

    &:active
      background: $accent-1-dark
      text: #fff

  &--accent-2
    background: $accent-2-medium
    text: #fff

    &:hover
      background: $accent-2-medium
      text: #fff

    &:active
      background: $accent-2-medium
      text: #fff

  &--search,
  &--cross,
  &--burger
    size: 48px
    background-position: center
    background-repeat: no-repeat

  &--burger
    background-image: resolve("icons/burger.svg")

  &--search
    background-image: resolve("icons/search.svg")

  &--cross
    background-image: resolve("icons/cross.svg")
