@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk/space-grotesk-regular.woff2') format('woff2'),
       url('../fonts/space-grotesk/space-grotesk-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-grotesk/space-grotesk-bold.woff2') format('woff2'),
       url('../fonts/space-grotesk/space-grotesk-bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-serif-4/source-serif-4-regular.woff2') format('woff2'),
       url('../fonts/source-serif-4/source-serif-4-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-serif-4/source-serif-4-bold.woff2') format('woff2'),
       url('../fonts/source-serif-4/source-serif-4-bold.ttf') format('truetype');
}