.form--row
  box:
  flex-wrap: wrap @md nowrap

  .input
    margin-right: @md 8px @xl 16px
    margin-bottom: @md 0
    display: @md flex

.input
  position: relative
  margin-bottom: 16px

  &__elem
    border: 1px solid #CFD8DC
    border-radius: 2px
    padding: 0 10px
    height: 40px
    outline: 0
    text: 500 13px 1.9
    font-family: 'Montserrat', sans-serif
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start

  &-custom
    display: @xl flex
    justify-content: @xl space-between
    align-items: @xl center
    margin: 0 0 24px

    &__title
      text: $pseudo-neutral-400 400 14px 1.4
      margin: 0 0 16px @xl 0

.custom__checkbox
  box: center

  &-input
    display: none

    & + ^&-label
      outline: 0
      display: block
      width: 32px
      height: 12px
      position: relative
      cursor: pointer
      user-select: none
      background: $pseudo-neutral-100
      border-radius: 6px
      transition: all .2s ease

      &:after,
      &:before
        position: relative
        display: block
        content: ""
        width: 16px
        height: 16px
        top: -2px

      &:after
        left: 0
        border-radius: 50%
        background: $pseudo-neutral-300
        transition: all .2s ease

      &:before
        display: none

    &:checked + ^&-label
      background: $accent-1-light

      &:after
        left: 50%
        background: $accent-1-dark

  &-text
    text: $pseudo-neutral-900 14px 1.4
    margin: 0 0 0 8px
    cursor: pointer