.share
	padding: 16px 24px
	display: inline-flex
	background: #5200ff

	&__link
		display: inline-flex
		align-items: center
		size: 24px
		min-width: 24px
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		margin-right: 24px

		&:last-child
			margin-right: 0

		&--fb
			background-image: resolve("icons/share/fb-light.svg")

			&:hover
				background-image: @lg svg-load("icons/share/fb-light.svg", fill="#adffe7")

		&--tg
			background-image: resolve("icons/share/tg-light.svg")

			&:hover
				background-image: @lg svg-load("icons/share/tg-light.svg", fill="#adffe7")

		&--x
			background-image: resolve("icons/share/x-light.svg")

			&:hover
				background-image: @lg svg-load("icons/share/x-light.svg", fill="#adffe7")

		&--copy
			background-image: resolve("icons/share/copy-light.svg")

			&:hover
				background-image: @lg svg-load("icons/share/copy-light.svg", stroke="#adffe7")
