.social
  display: inline-flex
  align-items: center

  &__link
    size: 56px
    background-position: center
    background-repeat: no-repeat

    &--name
      display: block
      margin-right: 1rem
      text: $pseudo-neutral-300 500 13px 24px

    &--tiny
      size: 1rem
      background-size: contain
      margin-right: 1rem

    &--fb
      background-image: resolve("icons/social/facebook.svg")

      &:hover
        background-image: svg-load("icons/social/facebook.svg" fill: #512DA8)

      &-white
        background-image: resolve("icons/social/facebook-white.svg")

    &--tg
      background-image: resolve("icons/social/telegram.svg")

      &:hover
        background-image: svg-load("icons/social/telegram.svg" fill: #512DA8)

      &-white
        background-image: resolve("icons/social/telegram-white.svg")

    &--tw
      background-image: resolve("icons/social/twitter.svg")

      &:hover
        background-image: svg-load("icons/social/twitter.svg" fill: #512DA8)

      &-white
        background-image: resolve("icons/social/twitter-white.svg")

    &--em
      background-image: resolve("icons/social/email.svg")

      &:hover
        background-image: svg-load("icons/social/email.svg" fill: #512DA8)

    &--yt
      background-image: resolve("icons/social/youtube.svg")

      &:hover
        background-image: svg-load("icons/social/youtube.svg" fill: #512DA8)

      &-white
        background-image: resolve("icons/social/youtube-white.svg")

    &--rd
      background-image: resolve("icons/social/reddit.svg")

      &:hover
        background-image: svg-load("icons/social/reddit.svg" fill: #512DA8)

    &--rs
      background-image: resolve("icons/social/rss.svg")

      &:hover
        background-image: svg-load("icons/social/rss.svg" fill: #512DA8)

    &--ln
      background-image: resolve("icons/social/linkedIn.svg")

      &:hover
        background-image: svg-load("icons/social/linkedIn.svg" fill: #512DA8)

    &--insta
      background-image: resolve("icons/social/instagram.svg")

      &:hover
        background-image: svg-load("icons/social/instagram.svg" fill: #512DA8)


