figure
  margin: 28px -16px @sm * 0 @md 40px 0

figcaption
  text: $pseudo-neutral-400 500 14px 1.4
  margin: 8px 0 24px
  font-family: $font

ol
  list-style-type: decimal
  margin: 28px 0 @md 40px 0
  padding: 0
  padding-left: 1.1rem @xl 1rem

  ol
    margin: 16px 0 @md 24px 0 32px

  li
    text: 400 18px 1.8
    font-family: $font-article
    margin: 0 0 24px

    &:last-child
      margin: 0

ul:not([class])
  margin: 28px 0 @md 40px 0
  padding: 0 0 0 16px
  list-style: none

  ul
    margin: 16px 0 @md 24px 0 32px

  li
    text: 400 18px 1.8
    font-family: $font-article
    position: relative
    margin: 0 0 24px

    &:last-child
      margin: 0

    &:before
      content: ""
      display: block
      position: absolute
      left: -16px
      top: 13px
      width: 5px
      height: 5px
      border-radius: 50%
      background: $pseudo-neutral-900

p
  text: $body-small @xl $body-standart
  margin: 0
  margin-bottom: 1.7rem @xl 2.5rem

.article

  &__content, &__content p
    text: 400 18px 1.8
    font-family: $font-article
    margin: 24px 0
    word-break: break-word
    clear: both

    + img
      margin-bottom: 1.7rem @xl 2.5rem

p + p, p + ul, p + ol
  margin-top: -0.7rem @xl -1rem

table
  width: 100%
  border-collapse: collapse
  border-radius: 2px
  border: $border
  max-width: 736px
  display: block
  overflow-x: auto
  border-top: 0
  margin: 24px 0

  td, th
    text: $body-small @xl $body-standart
    padding: .75rem 1rem
    vertical-align: top
    border-top: 1px solid #dee2e6
    border-right: 1px solid #dee2e6

  td
    min-width: 170px

html body
  td p, li p
    margin: 0
    padding: 0
    font-family: $font
    text: $body-small @xl $body-standart

h2 span
  text: $body-tiny