body
  text: #000 400 17px 1.7
  font-family: $font
  background: $neutral-100
  overflow-x: hidden

h1, h2, h3, h4, h5
  font-weight: 600
  margin-top: 0

h1
  text: $pseudo-neutral-900 500 22px 1.1 @md 34px
  font-family: $font
  margin: 0 0 16px @md * * 40px

h2
  text: $pseudo-neutral-900 500 26px 1.2 @md 30px
  font-family: $font
  margin: 0 0 16px @md * * 32px

h3
  text: $pseudo-neutral-900 500 17px 1.4
  font-family: $font
  margin: 0 0 16px

h4
  text: 17px 1.41
  font-family: $font

h5
  text: $pseudo-neutral-900 500 15px 1.6
  font-family: $font