html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,strong {
  font-weight: bolder;
}

small {
  font-size: 87%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,input {
  overflow: visible;
}

button,select {
  text-transform: none;
}

[type="button"],[type="reset"],[type="submit"],button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

* {
  box-sizing: border-box;
}

details,main {
  display: block;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

[hidden],template {
  display: none;
}

a,button {
  -webkit-tap-highlight-color: transparent;
}

.btns-spacer {
  margin-bottom: -.5rem;
  display: flex;
  flex-wrap: wrap;
}

.btns-spacer > * {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.btn-aside-space {
  margin-top: 1rem;
}

.btn-filter-space {
  margin-top: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visibility-hidden {
  visibility: hidden;
}

.text-mark {
  color: #F44336;
  text-transform: uppercase;
}

.hide-xl-down {
}

.hide-xl-only {
}

.hide-md-down {
}

.hide-md-up {
}

.hide-sm-down {
}

.hide-sm-only {
}

a {
  color: #6044DE;
  text-decoration: none;
}

a:hover {
  color: #433099;
}

a:active {
  color: #2C1F63;
}

body {
  color: #263238;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  background: #F5F5F5;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
  margin-top: 0;
}

h1 {
  color: #263238;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 16px;
}

h2 {
  color: #263238;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 16px;
}

h3 {
  color: #263238;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 16px;
}

h4 {
  font-size: 17px;
  line-height: 1.41;
  font-family: 'Work Sans', sans-serif;
}

h5 {
  color: #263238;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.page-container {
  background: transparent;
  margin-top: .5rem;
}

.f-container {
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.main-block {
  width: 100%;
  position: relative;
  z-index: 99;
}

.aside-block {
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 7;
}

.btn {
  color: #263238;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  line-height: unset;
  min-height: 2rem;
  padding: 0 .7rem;
  border-radius: 2px;
  text-decoration: none;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  border-color: #433099;
  color: #433099;
}

.btn:active {
  border-color: #2C1F63;
  color: #2C1F63;
}

.btn--wide {
  padding-right: 16px;
  padding-left: 16px;
}

.btn--input {
  display: flex;
  width: 100%;
  min-height: 40px;
  border-radius: 0;
}

.btn--light {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn--block {
  display: flex;
  width: 100%;
}

.btn--small {
  min-height: 24px;
}

.btn--big {
  min-height: 40px;
}

.btn--large {
  min-height: 48px;
}

.btn--huge {
  min-height: 56px;
}

.btn--full {
  width: 100%;
}

.btn--show--open {
  display: none;
}

.btn--hash-tag {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  background: #6044DE;
  color: #fff;
}

.btn--hash-tag:hover {
  background: #433099;
  color: #fff;
}

.btn--hash-tag:active {
  background: #2C1F63;
  color: #fff;
}

.btn-aside-space {
  margin: 32px 16px;
  width: auto;
}

.btn--accent {
  background: #6044DE;
  color: #fff;
}

.btn--accent:hover {
  background: #433099;
  color: #fff;
}

.btn--accent:active {
  background: #2C1F63;
  color: #fff;
}

.btn--accent-2 {
  background: #F44336;
  color: #fff;
}

.btn--accent-2:hover {
  background: #F44336;
  color: #fff;
}

.btn--accent-2:active {
  background: #F44336;
  color: #fff;
}

.something {
  overflow: hidden;
  text-align: center;
  position: relative;
}

.something--top {
  position: relative;
  z-index: 996;
}

.something--content {
  margin: 1.5rem 0;
}

.something__content {
  display: block;
}

.something__content img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-long {
  text-align: center;
  display: inherit;
}

.something__content-long img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-long > ins {
  display: block;
  margin: 0 auto;
}

.something__content-scale {
  -webkit-transform: scale(0.89);
  transform: scale(0.89);
}

.something__content-square {
  display: inherit;
  text-align: center;
}

.something__content-square img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-square > ins {
  display: block;
  margin: 0 auto;
}

.something--aside {
}

.something--aside > * {
}

.something--aside > img {
  min-width: 300px;
}

.something--wide {
  margin-bottom: 1rem;
}

.something-long {
}

.something-square {
}

.something--footer {
  display: flex;
  position: fixed;
  right: 16px;
  bottom: 16px;
  left: 16px;
  z-index: 106;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
}

.something--footer.hide {
  height: 0;
  display: none;
}

.something__wrapper {
  margin-bottom: 1rem;
  border-bottom: 1px solid #CFD8DC;
}

.ref {
  color: #78909C;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
  margin: 0 0 16px 0;
}

.aside-story {
  padding-bottom: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.aside-story:last-child {
  padding-bottom: 0;
}

.aside-story + .aside-story {
  padding-top: 16px;
  border-top: 1px solid #eceff1;
}

.aside-story__name {
  color: #263238;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
}

.aside-story__img {
  border-radius: 2px;
  width: 100%;
}

.aside-story__img-wrapper {
  position: relative;
  width: 72px;
  min-width: 72px;
  border-radius: 2px;
  margin: 0 10px 0 0;
}

.aside-story__info {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.aside-story__body {
  margin-top: -6px;
}

.aside-story__row {
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-story__link {
  color: #263238;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  margin-left: 8px;
  text-decoration: none;
  display: block;
}

.aside-story__text {
  font-size: 13px;
  line-height: 2.1;
  font-weight: 500;
  letter-spacing: .015em;
  margin-top: 2px;
}

.aside-story__signature {
  color: #F44336;
  font-size: 13px;
  line-height: 1.2;
  display: block;
  margin-top: 4px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 0 16px;
}

.card__mark {
  color: #90a4ae;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.8;
}

.card__title {
  color: #263238;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 600;
  padding: 4px 16px;
  border-bottom: 1px solid #cfd8dc;
  margin: 0;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__desc {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  margin: -4px 0 16px;
}

.card__body {
  padding: 16px;
}

.card:last-child {
  margin: 0;
}

.card .btn--accent {
  width: 100%;
}

.card--press--release .aside-story {
  display: none;
}

.card--press--release .card__footer {
  border: 0;
  margin-bottom: 8px;
}

.card__list-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  margin: 0 0 8px;
}

.card__list-item {
  border-top: 1px solid #eceff1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card__list-item:last-child {
  padding-bottom: 0;
}

.card__list-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
}

.card__footer {
  padding: 4px 16px;
  border-top: 1px solid #cfd8dc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__footer .btn {
  font-weight: 600;
  font-size: 15px;
}

.card--something {
  padding: 0;
  border: 0;
  border-radius: 0;
  display: none;
}

.card--widget__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #263238;
  text-decoration: none;
}

.card--widget__item + .card--widget__item {
  margin-top: 24px;
}

.card--widget__item .btn {
  width: 100%;
}

.card--widget__item .btn--block {
  margin-left: 20px;
  width: auto;
}

.card--widget__img-wrapper {
  max-width: 48px;
  min-width: 48px;
}

.card--widget__row {
  display: flex;
}

.card--widget__info {
  margin-left: 8px;
}

.card--widget__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
}

.card--widget__signature {
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.card--subscribe {
  background: transparent;
  border-radius: 0;
}

.social {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.social--border {
  border: 1px solid #CFD8DC;
  border-radius: 2px;
}

.social--border .social__link {
  width: 100%;
  height: 38px;
  border-right: 1px solid #CFD8DC;
}

.social--border .social__link:last-child {
  border: none;
}

.social__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin-right: 1.5rem;
}

.social__link {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--name {
  display: block;
  margin-right: 1rem;
  color: #90A4AE;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.social__link--tiny {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  margin-right: 1rem;
}

.social__link--fb {
  background-image: url('../img/icons/social/facebook.svg');
}

.social__link--tg {
  background-image: url('../img/icons/social/telegram.svg');
}

.social__link--tw {
  background-image: url('../img/icons/social/twitter.svg');
}

.social__link--em {
  background-image: url('../img/icons/social/email.svg');
}

.social__link--yt {
  background-image: url('../img/icons/social/youtube.svg');
}

.social__link--rd {
  background-image: url('../img/icons/social/reddit.svg');
}

.social__link--rs {
  background-image: url('../img/icons/social/rss.svg');
}

.social__link--ln {
  background-image: url('../img/icons/social/linkedIn.svg');
}

.social__link--insta {
  background-image: url('../img/icons/social/instagram.svg');
}

.form--row {
  flex-wrap: wrap;
  display: flex;
}

.form--row .input {
}

.input {
  position: relative;
  margin-bottom: 16px;
}

.input__elem {
  border: 1px solid #CFD8DC;
  border-radius: 2px;
  padding: 0 10px;
  height: 40px;
  outline: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.short {
  color: #90A4AE;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  white-space: nowrap;
  text-decoration: none;
  display: inline-flex;
  margin: 0 24px 0 0;
  align-items: center;
  position: relative;
}

.short:last-child {
  margin: 0;
}

.short--author {
  cursor: pointer;
}

.header {
  background: #433099;
  position: relative;
  z-index: 996;
}

.header__container {
  flex-wrap: wrap;
  padding: 8px 16px;
  position: relative;
  will-change: transform;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container--sticky {
}

.header__container--sticky-show {
}

.header__logo {
  display: block;
}

.header__social {
  width: 236px;
  display: none;
}

.header__nav {
  margin-top: 12px;
  position: relative;
  width: 100%;
  display: none;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
}

.header__nav-list.visibility-hidden {
}

.header__nav-item {
  font-family: 'Work Sans', sans-serif;
}

.header__nav-item:hover:before {
}

.header__nav-item:after {
  content: "";
  height: 40px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 997;
  display: none;
}

.header__nav-item:hover .header__nav-child-list {
}

.header__nav-item:hover:after {
  background: #433099;
}

.header__nav-item + .header__nav-item {
  margin-left: 0;
}

.header__nav-item--arrow:hover:after {
  right: auto;
}

.header__nav-item--arrow:hover .header__nav-link:after {
}

.header__nav-item--arrow .header__nav-link:after {
  content: "";
  display: block;
  background: url('../img/icons/triangle_down.svg') center;
  width: 24px;
  height: 24px;
}

.header__nav-item .header__nav-link {
}

.header__nav-item .header__nav-link:after {
  right: auto;
}

.header__nav-link {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  text-decoration: none;
  padding: 0 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link:hover {
  color: #FFFFFF;
}

.header__nav-link:active {
  color: #FFFFFF;
}

.header__nav-child-list {
  display: none;
  position: absolute;
  padding-top: 8px;
  background: #fff;
  z-index: 999;
}

.header__nav-child-list.show {
}

.header__nav-child-item {
  border-left: 4px solid transparent;
  margin-bottom: 8px;
}

.header__nav-child-item--active {
  border-color: #263238;
}

.header__nav-child-item:hover {
}

.header__nav-child-link {
  color: #263238;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn-search {
  margin-right: 16px;
}

.header__search {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 8px;
  display: none;
}

.header__search-form {
  display: flex;
  align-items: center;
}

.header__search-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.header__search-input {
  background: #fff;
  border-color: #fff;
  min-height: 32px;
  padding-left: 32px;
}

.header__search-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.header__account {
}

.header__account-img {
  display: block;
  border-radius: 2px;
  position: absolute;
}

.header__burger {
  width: 32px;
  height: 32px;
}

.header--mobile-menu .header__container:after {
  display: none;
}

.header--mobile-menu .header__social {
}

.header--mobile-menu .header__nav {
  height: 100vh;
  background-color: #fff;
}

.mobile-menu-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: -82px;
  left: 0;
  z-index: 995;
  background: rgba(38, 50, 56, .85);
  display: none;
}

.mobile-menu-back {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 600;
  line-height: 55px;
  padding-left: 44px;
  position: absolute;
  top: 49px;
  right: 0;
  width: 205px;
  height: 54px;
  background-color: #fff;
  background-image: svg-load("icons/arrow_long.svg", fill: #263238);
  background-repeat: no-repeat;
  background-position: 11px center;
  cursor: pointer;
  display: none;
}

.mobile-menu-back.show {
}

.overflow-hidden {
  overflow: hidden;
}

.article__panel {
  margin: 0 0 8px;
  background: #FFFFFF;
  padding: 8px 24px;
  display: flex;
  align-items: center;
}

.article__wrapper {
  padding: 24px 16px;
  background: #FFFFFF;
}

.article__main {
  margin: 20px -16px 16px;
}

.article__writer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 28px 0 40px;
}

.article__writer-img--wrapper {
  border-radius: 50%;
  overflow: hidden;
  max-width: 40px;
  min-width: 40px;
  margin: 0 16px 0 0;
}

.article__writer-title {
  font-weight: 600;
  color: #263238;
  font-size: 17px;
  line-height: 1.4;
  margin: 0 0 8px;
}

.article__writer-name {
  color: #263238;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  margin: 0 0 16px;
  display: inline-flex;
}

.article__writer-info {
  width: calc(100% - 56px);
}

.article__writer-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.article__writer-social {
  margin: 0 0 0 -16px;
}

.article__writer p {
  color: #263238;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 12px 0 0;
}

.article__writer-bg {
  background: #F5F5F5;
  padding: 32px 16px;
  margin: 28px -16px 40px;
}

.article__writer-bg p {
}

.article__writer-bg .article__writer-name {
  margin: 0 24px 0 0;
  color: #433099;
}

.article__content p {
  margin: 40px 0;
}

.article__guid {
  background: #F5F5F5;
  padding: 16px;
}

.article__guid-title {
  color: #90A4AE;
  margin: 0 0 16px;
}

.article__guid-item {
  margin: 0 0 16px;
}

.article__guid-item:last-child {
  margin: 0;
}

.article__guid-link {
  color: #263238;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
}

.article__disclaimer {
  color: #90A4AE;
  font-size: 14px;
  line-height: 1.2;
  margin: 16px 0 0;
}

.article__card {
  background: #F5F5F5;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  margin: 28px -16px;
  font-family: 'Work Sans', sans-serif;
}

.article__card-title {
  color: #263238;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
}

.article__card-img--wrapper {
  border-radius: 2px;
  overflow: hidden;
  max-width: 88px;
  min-width: 88px;
  margin: 0 0 0 16px;
}

.article__wall {
  display: none;
  position: relative;
  margin: 64px 0 32px;
}

.article__wall-label {
  background: #6044DE;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.1;
  padding: 4px 12px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.article__wall-title {
  background: rgba(38, 50, 56, .65);
  padding: 12px 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.4;
}

.article__ref {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -32px 0 0;
}

.article__ref-item {
  width: 100%;
  color: #263238;
  margin: 32px 0 0;
}

.article__ref-img {
  width: 100%;
}

.article__ref-img--wrapper {
  margin: 0 -16px 20px;
}

.article__ref-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  margin: 20px 0 0;
}

.category-item {
  display: flex;
  padding: 40px 16px 16px;
  background-color: #fff;
  position: relative;
}

.category-item__img {
  max-width: 72px;
  min-width: 72px;
}

.category-item__img-wrapper {
  position: relative;
}

.category-item + .category-item {
  margin: 16px 0;
}

.category-item .humble__row {
  margin: 12px 0 0 -88px;
}

.category-item .humble__row:first-child {
  margin: 0;
  position: absolute;
  top: 8px;
  justify-content: space-between;
  left: 16px;
  right: 16px;
}

.category-item .humble--author {
  margin: 0;
}

.category-item__info {
  width: 100%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-item__title {
  color: #263238;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  background: #FFFFFF;
  width: 100%;
  margin: 0;
  display: block;
}

.category-item__title-link {
  display: block;
  min-height: 48px;
}

.footer {
  margin: 32px 0 0;
  background: #1C143D;
}

.footer__container {
  margin: 0 auto;
  padding: 0 16px;
}

.footer__row {
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #37474F;
  display: flex;
  justify-content: space-between;
}

.footer__social {
  border: 1px solid #37474F;
}

.footer__social .social__link {
  border-right: 1px solid #37474F;
}

.footer__title {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.footer__follow-us {
  margin-right: 0;
}

.footer__follow-us .footer__title {
  white-space: nowrap;
}

.footer__subscribe {
}

.footer__subscribe-form .input {
  height: 40px;
}

.footer__subscribe-form .input:first-child {
  margin-right: 16px;
  width: calc(100% - 116px);
}

.footer__subscribe-input {
  background: transparent;
  border: 1px solid #37474F;
  color: #FFFFFF;
}

.footer__subscribe-input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.footer__subscribe-input::-ms-input-placeholder {
  color: #FFFFFF;
}

.footer__subscribe-input::placeholder {
  color: #FFFFFF;
}

.footer__subscribe .btn--input {
  background: #433099;
  color: #FFFFFF;
}

.footer__subscribe-agree {
  color: #78909C;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
  margin-top: 0;
}

.footer__nav {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #37474F;
  position: relative;
}

.footer__nav-list {
  margin: -16px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item {
  width: 60%;
  margin: 16px 0 0;
  white-space: nowrap;
}

.footer__nav-item:nth-child(even) {
}

.footer__nav-link {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 1.2;
}

.footer__nav-child-list {
  margin-top: 1rem;
}

.footer__nav-child-item {
  margin: 0 0 16px;
}

.footer__nav-child-item:last-child {
  margin: 0;
}

.footer__nav-child-link {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.4;
}

.footer__copy {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__copy-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  color: #78909C;
  margin-right: 2rem;
}

.footer__copy-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  color: #78909C;
}

.footer__disclaimer {
  border-bottom: 1px solid #37474F;
  padding: 24px 0;
}

.footer__disclaimer-text {
  color: #78909C;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

figure {
  margin: 28px -16px;
}

figcaption {
  color: #78909C;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  margin: 8px 0 24px;
  font-family: 'Work Sans', sans-serif;
}

ol {
  list-style-type: decimal;
  margin: 28px 0;
  padding: 0;
  padding-left: 1.1rem;
}

ol ol {
  margin: 16px 0;
}

ol li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Georgia';
  margin: 0 0 24px;
}

ol li:last-child {
  margin: 0;
}

ul:not([class]) {
  margin: 28px 0;
  padding: 0 0 0 16px;
  list-style: none;
}

ul:not([class]) ul {
  margin: 16px 0;
}

ul:not([class]) li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Georgia';
  position: relative;
  margin: 0 0 24px;
}

ul:not([class]) li:last-child {
  margin: 0;
}

ul:not([class]) li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #263238;
}

p {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  margin: 0;
  margin-bottom: 1.7rem;
}

.article__content,.article__content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Georgia';
  margin: 24px 0;
  word-break: break-word;
  clear: both;
}

.article__content + img,.article__content p + img {
  margin-bottom: 1.7rem;
}

p + ol,p + p,p + ul {
  margin-top: -0.7rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  border: 1px solid #CFD8DC;
  max-width: 736px;
  display: block;
  overflow-x: auto;
  border-top: 0;
  margin: 24px 0;
}

table td,table th {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  padding: .75rem 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

table td {
  min-width: 170px;
}

html body li p,html body td p {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
}

h2 span {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
}

blockquote {
  margin: 2.5rem 0 1.7rem;
  position: relative;
  border-left: 4px solid #6044DE;
  padding: .5rem 1rem;
}

blockquote:before {
  content: "";
  display: block;
  background: svg-load("icons/quote.svg" fill: #6044DE) center / cover;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -26px;
  left: -14px;
}

blockquote p {
  color: #263238;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.8;
  font-style: italic;
}

blockquote img {
  display: block;
  border-radius: 50%;
  margin-right: .5rem;
  width: 3rem;
  height: 3rem;
  float: left;
  margin-bottom: 0;
}

blockquote strong {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1rem;
  display: block;
}

blockquote em {
  color: #78909C;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  display: block;
}

@media (min-width: 480px) {
  .hide-sm-only {
    display: none;
  }

  .page-container {
    margin-top: 1rem;
  }

  .something--top {
    height: 90px;
  }

  .aside-story__img-wrapper {
    width: 144px;
    min-width: 144px;
  }

  .article__main {
    margin-top: 32px;
    margin-right: 0;
    margin-left: 0;
  }

  .article__writer {
    margin-right: 0;
    margin-left: 0;
  }

  .article__writer-bg {
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 0;
    margin-left: 0;
  }

  .article__guid {
    padding: 32px;
  }

  .article__guid-title {
    margin-bottom: 24px;
  }

  .article__guid-link {
    font-size: 17px;
  }

  .article__card {
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .article__card-img--wrapper {
    max-width: 128px;
    min-width: 128px;
  }

  .article__wall {
    display: block;
  }

  .article__ref-item {
    width: 48%;
  }

  .article__ref-img--wrapper {
    width: 100%;
    margin: 0 0 20px;
  }

  .category-item {
    padding: 16px;
  }

  .category-item__img {
    max-width: 144px;
    min-width: 144px;
  }

  .category-item .humble__row {
    margin-top: 8px;
    margin-left: 0;
  }

  .category-item .humble__row:first-child {
    margin-bottom: 8px;
    position: static;
    justify-content: flex-start;
  }

  .footer__title {
    font-size: 17px;
  }

  .footer__subscribe-agree {
    margin-top: -2px;
  }

  .footer__nav-item {
    width: 33%;
  }

  figure {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hide-md-up {
    display: none;
  }

  h1 {
    font-size: 34px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .f-container {
    flex-wrap: nowrap;
  }

  .main-block {
    width: 480px;
  }

  .aside-block {
    max-width: 240px;
  }

  .something--content {
    margin: 2rem 0;
  }

  .something-square {
    display: none;
  }

  .something--footer {
    display: none;
    height: 0;
  }

  .aside-story__img-wrapper {
    width: 72px;
    min-width: 72px;
  }

  .aside-story__row {
    align-items: flex-start;
  }

  .card--press--release .aside-story {
    display: flex;
  }

  .social--border .social__link {
    width: 40px;
  }

  .form--row {
    flex-wrap: nowrap;
  }

  .form--row .input {
    margin-right: 8px;
    margin-bottom: 0;
    display: flex;
  }

  .header__container {
    padding: 8px 16px 0px;
    max-width: 768px;
  }

  .header__nav {
    display: block;
  }

  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav-item {
    position: relative;
  }

  .header__nav-item:after {
    height: 4px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: -1px;
    left: 0;
  }

  .header__nav-item:hover .header__nav-child-list {
    display: block;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 24px;
  }

  .header__nav-item--arrow:hover:after {
    right: 24px;
  }

  .header__nav-item--arrow:hover .header__nav-link:after {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .header__nav-item .header__nav-link:after {
    right: 24px;
  }

  .header__nav-link {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }

  .header__nav-child-list {
    border-radius: 2px;
    border: 1px solid #90A4AE;
    min-width: 190px;
    z-index: 997;
  }

  .header__nav-child-item:hover {
    background: #F5F5F5;
  }

  .header__btn-search {
    margin-right: 24px;
  }

  .header__search {
    left: 215px;
    right: 185px;
    top: 10px;
  }

  .header__search-input {
    background: #F5F5F5;
    border-color: #F5F5F5;
  }

  .header__burger {
    display: none;
  }

  .article__main {
    margin-top: 48px;
  }

  .article__writer {
    margin-top: 40px;
    margin-bottom: 52px;
  }

  .article__writer-bg {
    padding: 32px;
    margin-top: 40px;
    margin-bottom: 52px;
  }

  .article__card {
    margin: 40px 0;
  }

  .article__ref-img--wrapper {
    max-width: 225px;
  }

  .article__ref-name {
    font-weight: 400;
    font-size: 14px;
  }

  .footer__container {
    max-width: 768px;
  }

  .footer__row {
    flex-wrap: nowrap;
  }

  .footer__title {
    margin-bottom: 24px;
  }

  .footer__follow-us {
    margin-right: 24px;
  }

  .footer__subscribe-form .input:first-child {
    width: auto;
  }

  .footer__subscribe-input {
    width: 116px;
  }

  .footer__nav {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  .footer__nav-list {
    margin: -32px 0 0;
    display: flex;
    justify-content: space-between;
  }

  .footer__nav-item {
    width: auto;
    margin: 32px 0 0;
  }

  .footer__nav-link {
    font-size: 22px;
  }

  .footer__copy {
    display: flex;
    align-items: center;
  }

  figure {
    margin: 40px 0;
  }

  ol {
    margin: 40px 0;
  }

  ol ol {
    margin: 24px 0 32px;
  }

  ul:not([class]) {
    margin: 40px 0;
  }

  ul:not([class]) ul {
    margin: 24px 0 32px;
  }

  blockquote {
    margin: 3.2rem 0 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1152px) {
  .container {
    max-width: 1152px;
  }

  .btn-aside-space {
    margin-top: 2rem;
  }

  .hide-xl-only {
    display: none;
  }

  .container {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .main-block {
    width: 768px;
  }

  .aside-block {
    max-width: 336px;
  }

  .something--content {
    margin: 2.5rem 0;
  }

  .something__content-square {
    display: none;
  }

  .something--aside {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .something--wide {
    margin-bottom: 2rem;
  }

  .something__wrapper {
    margin-bottom: 1.5rem;
  }

  .aside-story__row {
    align-items: center;
  }

  .aside-story__link {
    font-size: 15px;
  }

  .social--border .social__link {
    width: 72px;
  }

  .form--row .input {
    margin-right: 16px;
  }

  .header__container {
    flex-wrap: nowrap;
    height: 48px;
    padding: 0 32px;
    max-width: 1152px;
  }

  .header__social {
    width: 161px;
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  .header__nav {
    width: 740px;
  }

  .header__nav-list {
    margin: 0 24px;
    display: flex;
    align-items: center;
  }

  .header__search {
    left: 240px;
    right: 210px;
    top: 8px;
  }

  .article__writer-img--wrapper {
    max-width: 64px;
    min-width: 64px;
    margin: 0 32px 0 0;
  }

  .article__writer-title {
    margin: 0;
  }

  .article__writer-info {
    width: auto;
  }

  .article__writer-social {
    margin: 0 0 0 16px;
  }

  .article__writer p {
    margin: -26px 0 0 96px;
  }

  .article__writer-bg p {
    margin-top: 0;
  }

  .article__writer-bg .article__writer-name {
    margin: 0;
  }

  .article__guid {
    padding-right: 64px;
    padding-left: 64px;
  }

  .article__card {
    padding-left: 32px;
  }

  .article__wall-label {
    font-size: 22px;
    padding: 8px 16px;
  }

  .article__ref-item {
    width: 31%;
  }

  .category-item {
    padding: 0;
  }

  .category-item__img {
    max-width: 240px;
    min-width: 240px;
  }

  .category-item__info {
    margin-left: 0;
    padding: 16px 16px 12px;
  }

  .footer__container {
    max-width: 1180px;
  }

  .footer__row {
    padding-top: 52px;
    padding-bottom: 64px;
  }

  .footer__title {
    font-size: 22px;
  }

  .footer__follow-us {
    margin-right: 56px;
  }

  .footer__subscribe-input {
    width: 269px;
  }

  .footer__nav {
    padding-top: 52px;
    padding-bottom: 64px;
  }

  ol {
    padding-left: 1rem;
  }

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
    margin-bottom: 2.5rem;
  }

  .article__content + img,.article__content p + img {
    margin-bottom: 2.5rem;
  }

  p + ol,p + p,p + ul {
    margin-top: -1rem;
  }

  table td,table th {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
  }

  html body li p,html body td p {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
  }

  blockquote {
    margin: 4rem 0 2.5rem;
  }

  blockquote p {
    font-size: 17px;
  }

  blockquote img {
    margin-right: 1.1rem;
    width: 4rem;
    height: 4rem;
  }

  blockquote strong {
    margin-top: 1.9rem;
  }
}

@media (max-width: 1152px) {
  .hide-xl-down {
    display: none;
  }

  .page-container {
    padding: 0;
  }

  .something__content-long {
    display: none;
  }

  .something--aside {
    height: 200px;
  }

  .something--aside > * {
    -webkit-transform: scale(.76);
    transform: scale(.76);
  }

  .header__nav {
    order: 9;
  }

  .header__nav-list.visibility-hidden {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .hide-md-down {
    display: none;
  }

  .main-block {
    order: 2;
  }

  .something-long {
    display: none;
  }

  .social--border {
    width: 100%;
  }

  .header__container {
    max-width: 480px;
  }

  .header__nav-list {
    background: #fff;
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .header__nav-item:hover:before {
    display: block;
  }

  .header__nav-item:after {
    margin-top: -44px;
    width: 4px;
  }

  .header__nav-item--arrow .header__nav-link:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 16px;
  }

  .header__nav-item .header__nav-link {
    pointer-events: none;
  }

  .header__nav-link {
    padding: 0 0 0 16px;
    height: 48px;
    pointer-events: none;
  }

  .header__nav-child-list {
    top: 0;
    bottom: 0;
    width: 205px;
    overflow: auto;
  }

  .header__nav-child-list.show {
    display: block;
  }

  .header__account {
    margin-right: 16px;
  }

  .header--mobile-menu .header__social {
    display: flex;
    height: 56px;
    width: 205px;
    position: absolute;
    top: 48px;
    right: 0;
    background: #fff;
    padding-right: 24px;
    padding-left: 24px;
    border-top: 1px solid #CFD8DC;
    border-bottom: 1px solid #CFD8DC;
  }

  .header--mobile-menu .header__nav {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 205px;
    display: block;
  }

  .mobile-menu-back.show {
    display: block;
  }

  .footer__container {
    max-width: 480px;
  }

  .footer__follow-us {
    margin-bottom: 24px;
    width: 100%;
  }

  .footer__subscribe {
    width: 100%;
  }

  .footer__nav-child-list {
    display: none;
  }
}

@media (max-width: 479px) {
  .hide-sm-down {
    display: none;
  }

  .something--wide {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .header__container--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    box-shadow: 80px 0 0 #fff,-80px 0 0 #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  .header__container--sticky-show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .footer__nav-item:nth-child(even) {
    width: 40%;
  }

  .footer__copy-text {
    margin-bottom: 1rem;
  }
}