html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,strong {
  font-weight: bolder;
}

small {
  font-size: 87%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,input {
  overflow: visible;
}

button,select {
  text-transform: none;
}

[type="button"],[type="reset"],[type="submit"],button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

* {
  box-sizing: border-box;
}

details,main {
  display: block;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

[hidden],template {
  display: none;
}

a,button {
  -webkit-tap-highlight-color: transparent;
}

.btns-spacer {
  margin-bottom: -.5rem;
  display: flex;
  flex-wrap: wrap;
}

.btns-spacer > * {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.btn-aside-space {
  margin-top: 1rem;
}

.btn-filter-space {
  margin-top: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visibility-hidden {
  visibility: hidden;
}

.text-mark {
  color: #F44336;
  text-transform: uppercase;
}

.promo {
  background: #FFFF00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Yellowtail', cursive;
  position: absolute;
  bottom: 8px;
  left: 8px;
  text-align: center;
  padding: 3px 7px;
}

.hide-xl-down {
}

.hide-xl-only {
}

.hide-md-down {
}

.hide-md-up {
}

.hide-sm-down {
}

.hide-sm-only {
}

.slick-arrow {
  width: 48px;
  height: 48px;
  min-width: 48px;
}

.slick-next {
  background-image: url('../img/icons/slider-next-arrow.svg');
  right: 0;
}

.slick-next:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' stroke='%23000' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M14 46L36 24L14 2' stroke-width='2'/%3E %3C/svg%3E");
}

.slick-prev {
  background-image: url('../img/icons/slider-prev-arrow.svg');
  left: 0;
}

.slick-prev:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' stroke='%23000' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M34 2L12 24L34 46' stroke-width='2'/%3E %3C/svg%3E");
}

a {
  text-decoration: none;
}

.link {
  color: #512DA8;
}

.link-accent {
  color: #000;
}

.link-accent:hover {
  color: #512DA8;
}

body {
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  font-family: 'Rubik', sans-serif;
  background: #EDE7F6;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
  margin-top: 0;
}

h1 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 24px;
}

h3 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 16px;
}

h4 {
  color: #000;
  font-size: 17px;
  line-height: 1.41;
  font-family: 'Rubik', sans-serif;
}

h5 {
  color: #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.page-container {
  margin-top: 32px;
}

.f-container {
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.main-block {
  width: 100%;
  position: relative;
  z-index: 99;
}

.aside {
  max-width: 100%;
  margin: 0 0 0 32px;
  width: 100%;
  position: relative;
  z-index: 7;
}

.btn {
  color: #512DA8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  line-height: unset;
  min-height: 48px;
  border: 2px solid #512DA8;
  padding: 0 12px;
  text-decoration: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  border-color: #000;
  color: #000;
}

.btn--wide {
  padding-right: 36px;
  padding-left: 36px;
}

.btn--input {
  display: flex;
  width: 100%;
  min-height: 56px;
  color: #000;
  font-size: 17px;
  line-height: 1.7;
  border-radius: 0;
  font-weight: 400;
  background: #FFFF00;
  border-color: #FFFF00;
}

.btn--input:hover {
  border-color: #FFFF00;
  color: #512DA8;
}

.btn--light {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn--block {
  display: flex;
  width: 100%;
}

.btn--small {
  min-height: 24px;
}

.btn--big {
  min-height: 40px;
}

.btn--large {
  min-height: 48px;
}

.btn--huge {
  min-height: 56px;
}

.btn--full {
  width: 100%;
}

.btn--show--open {
  display: none;
}

.btn--hash-tag {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: normal;
  font-variant: none;
  text-decoration: none;
  background: #512DA8;
  color: #fff;
}

.btn--hash-tag:hover {
  background: #FFFF00;
  border-color: #FFFF00;
  color: #000;
}

.btn-aside-space {
  margin: 32px 16px;
  width: auto;
}

.btn--accent {
  background: #512DA8;
  color: #fff;
}

.btn--accent:hover {
  background: #FFFF00;
  border-color: #FFFF00;
  color: #000;
}

.btn--accent-2 {
  background: #F44336;
  color: #fff;
}

.btn--accent-2:hover {
  background: #F44336;
  color: #fff;
}

.btn--black {
  background: #000;
  color: #FFFFFF;
  border: none;
}

.btn--black:hover {
  background: #512DA8;
  color: #FFFFFF;
}

.btn--search {
  height: 48px;
  min-width: 48px;
  width: 48px;
  overflow: hidden;
  padding: 12px;
  justify-content: flex-start;
}

.btn--search:before {
  content: '';
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 20px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}

.btn--burger,.btn--cross,.btn--cross-white {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn--burger {
  background-image: url('../img/icons/burger.svg');
}

.btn--search {
  color: #FFFFFF;
}

.btn--search:before {
  background-image: url('../img/icons/search.svg');
}

.btn--search:hover {
  color: #FFFF00;
}

.btn--search:hover:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23FFFF00' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z'/%3E %3C/svg%3E");
}

.btn--cross {
  background-image: url('../img/icons/cross.svg');
}

.btn--cross-white {
  background-image: url('../img/icons/cross-white.svg');
}

.btn--arrow-right:after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/triangle_right-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.something {
  overflow: hidden;
  text-align: center;
  position: relative;
}

.something--top {
  position: relative;
  z-index: 996;
}

.something--content {
  margin: 1.5rem 0;
}

.something__content {
  display: block;
}

.something__content img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-long {
  text-align: center;
  display: inherit;
}

.something__content-long img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-long > ins {
  display: block;
  margin: 0 auto;
}

.something__content-scale {
  -webkit-transform: scale(0.89);
  transform: scale(0.89);
}

.something__content-square {
  display: inherit;
  text-align: center;
}

.something__content-square img {
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.something__content-square > ins {
  display: block;
  margin: 0 auto;
}

.something--aside {
}

.something--aside > * {
}

.something--aside > img {
  min-width: 300px;
}

.something--wide {
  margin-bottom: 1rem;
}

.something-long {
}

.something-square {
}

.something--footer {
  display: flex;
  position: fixed;
  right: 16px;
  bottom: 16px;
  left: 16px;
  z-index: 106;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
}

.something--footer.hide {
  height: 0;
  display: none;
}

.something__wrapper {
  margin-bottom: 1rem;
  border-bottom: 1px solid #CFD8DC;
}

.ref {
  color: #78909C;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
  margin: 0 0 16px 0;
}

.social {
  display: inline-flex;
  align-items: center;
}

.social__link {
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--name {
  display: block;
  margin-right: 1rem;
  color: #90A4AE;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.social__link--tiny {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  margin-right: 1rem;
}

.social__link--fb {
  background-image: url('../img/icons/social/facebook.svg');
}

.social__link--fb-paint,.social__link--fb:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17 2V6H15C14.3 6 14 6.8 14 7.5V10H17V14H14V22H10V14H7V10H10V6C10 3.8 11.8 2 14 2H17Z'/%3E %3C/svg%3E");
}

.social__link--fb-white {
  background-image: url('../img/icons/social/facebook-white.svg');
}

.social__link--tg {
  background-image: url('../img/icons/social/telegram.svg');
}

.social__link--tg-paint,.social__link--tg:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M9.80012 18.6L10.1001 14.4L17.8001 7.50005C18.1001 7.20005 17.7001 7.00005 17.3001 7.30005L7.80012 13.3L3.60012 12C2.70012 11.7 2.70012 11.1 3.80012 10.7L19.8001 4.50005C20.5001 4.20005 21.2001 4.70005 20.9001 5.80005L18.2001 18.6C18.0001 19.5 17.5001 19.7 16.7001 19.3L12.6001 16.2L10.6001 18.1C10.4001 18.5 10.2001 18.6 9.80012 18.6Z'/%3E %3C/svg%3E");
}

.social__link--tg-white {
  background-image: url('../img/icons/social/telegram-white.svg');
}

.social__link--tw {
  background-image: url('../img/icons/social/twitter.svg');
}

.social__link--tw-paint,.social__link--tw:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M22.5001 6C21.7001 6.3 20.9001 6.6 20.0001 6.7C20.9001 6.2 21.6001 5.3 21.9001 4.3C21.1001 4.8 20.1001 5.1 19.2001 5.4C18.4001 4.5 17.3001 4 16.0001 4C13.6001 4 11.7001 5.9 11.7001 8.3C11.7001 8.6 11.7001 9 11.8001 9.3C8.3001 9.1 5.1001 7.4 3.0001 4.8C2.6001 5.4 2.4001 6.2 2.4001 6.9C2.4001 8.4 3.2001 9.7 4.3001 10.5C3.6001 10.5 2.9001 10.3 2.4001 10C2.4001 12.1 3.9001 13.8 5.8001 14.2C5.4001 14.3 5.1001 14.4 4.7001 14.4C4.4001 14.4 4.2001 14.4 3.9001 14.3C4.4001 16 6.0001 17.2 7.9001 17.3C6.4001 18.5 4.6001 19.1 2.6001 19.1C2.3001 19.1 1.9001 19.1 1.6001 19C3.4001 20.3 5.7001 21 8.1001 21C16.0001 21 20.3001 14.5 20.3001 8.8C20.3001 8.6 20.3001 8.4 20.3001 8.2C21.2001 7.6 21.9001 6.9 22.5001 6Z'/%3E %3C/svg%3E");
}

.social__link--tw-white {
  background-image: url('../img/icons/social/twitter-white.svg');
}

.social__link--em {
  background-image: url('../img/icons/social/email.svg');
}

.social__link--em-paint,.social__link--em:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z'/%3E %3C/svg%3E");
}

.social__link--yt {
  background-image: url('../img/icons/social/youtube.svg');
}

.social__link--yt:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10 15L15.2 12L10 9V15ZM21.6 7.2C21.7 7.7 21.8 8.3 21.9 9.1C22 9.9 22 10.6 22 11.2V12C22 14.2 21.8 15.8 21.6 16.8C21.3 17.7 20.8 18.3 19.9 18.5C19.4 18.6 18.6 18.7 17.3 18.8C16 18.9 14.8 18.9 13.7 18.9L12 19C7.8 19 5.2 18.8 4.2 18.6C3.3 18.3 2.7 17.8 2.5 16.9C2.4 16.4 2.3 15.8 2.2 15C2.1 14.2 2.1 13.5 2.1 12.9L2 12C2 9.8 2.2 8.2 2.4 7.2C2.7 6.3 3.2 5.7 4.1 5.5C4.6 5.4 5.4 5.3 6.8 5.2C8.1 5.1 9.3 5.1 10.4 5.1L12 5C16.2 5 18.8 5.2 19.8 5.4C20.7 5.7 21.3 6.3 21.6 7.2Z'/%3E %3C/svg%3E");
}

.social__link--yt-paint,.social__link--yt-white {
  background-image: url('../img/icons/social/youtube-white.svg');
}

.social__link--rd {
  background-image: url('../img/icons/social/reddit.svg');
}

.social__link--rd-paint,.social__link--rd:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M22 11.5C22 10.1 20.9 9.00001 19.5 9.00001C18.9 9.00001 18.3 9.20001 17.9 9.60001C16.4 8.70001 14.6 8.10001 12.5 8.00001L13.6 4.00001L17 5.00001C17 6.10001 17.9 7.00001 19 7.00001C20.1 7.00001 21 6.10001 21 5.00001C21 3.90001 20.1 3.00001 19 3.00001C18.3 3.00001 17.6 3.40001 17.3 4.00001L13.3 3.00001C13 2.90001 12.8 3.10001 12.7 3.40001L11.5 8.00001C9.5 8.10001 7.6 8.70001 6.1 9.60001C5.7 9.20001 5.1 9.00001 4.5 9.00001C3.1 9.00001 2 10.1 2 11.5C2 12.4 2.4 13.1 3.1 13.6L3 14.5C3 18.1 7 21 12 21C17 21 21 18.1 21 14.5L20.9 13.6C21.6 13.1 22 12.4 22 11.5ZM9 11.8C9.7 11.8 10.2 12.4 10.2 13C10.2 13.6 9.7 14.2 9 14.2C8.3 14.2 7.8 13.7 7.8 13C7.8 12.3 8.3 11.8 9 11.8ZM15.8 17.2C14 18.3 10 18.3 8.2 17.2C8 17 7.9 16.7 8.1 16.5C8.3 16.3 8.6 16.2 8.8 16.4C10 17.3 14 17.3 15.2 16.4C15.4 16.2 15.7 16.3 15.9 16.5C16.1 16.7 16 17 15.8 17.2ZM15 14.2C14.3 14.2 13.8 13.6 13.8 13C13.8 12.3 14.4 11.8 15 11.8C15.7 11.8 16.2 12.4 16.2 13C16.2 13.7 15.7 14.2 15 14.2Z'/%3E %3C/svg%3E");
}

.social__link--rs {
  background-image: url('../img/icons/social/rss.svg');
}

.social__link--rs-paint,.social__link--rs:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6.2 15.6C7.4 15.6 8.4 16.6 8.4 17.8C8.4 19 7.4 20 6.2 20C5 20 4 19 4 17.8C4 16.6 5 15.6 6.2 15.6ZM4 4.40002C12.6 4.40002 19.6 11.4 19.6 20H16.8C16.7 13 11 7.30002 4 7.30002V4.40002ZM4 10.1C9.5 10.1 13.9 14.5 13.9 20H11.1C11.1 16.1 7.9 12.9 4 12.9V10.1Z'/%3E %3C/svg%3E");
}

.social__link--ln {
  background-image: url('../img/icons/social/linkedIn.svg');
}

.social__link--ln-paint,.social__link--ln:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M21 21H17V14.2C17 13.1 15.8 12.3 14.7 12.3C13.6 12.3 13 13.2 13 14.3V21H9V9H13V11C13.7 9.9 15.4 9.2 16.5 9.2C19 9.2 21 11.2 21 13.7V21ZM7 21H3V9H7V21ZM5 3C6.1 3 7 3.9 7 5C7 6.1 6.1 7 5 7C3.9 7 3 6.1 3 5C3 3.9 3.9 3 5 3Z'/%3E %3C/svg%3E");
}

.social__link--insta {
  background-image: url('../img/icons/social/instagram.svg');
}

.social__link--insta-paint,.social__link--insta:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23512DA8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 19.4 19.4 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 4.6 4.6 2 7.8 2ZM7.6 4C5.6 4 4 5.6 4 7.6V16.4C4 18.4 5.6 20 7.6 20H16.4C18.4 20 20 18.4 20 16.4V7.6C20 5.6 18.4 4 16.4 4H7.6ZM17.3 5.5C18 5.5 18.6 6.1 18.6 6.8C18.6 7.5 17.9 8 17.3 8C16.7 8 16 7.4 16 6.8C16 6.2 16.6 5.5 17.3 5.5ZM12 7C14.8 7 17 9.2 17 12C17 14.8 14.8 17 12 17C9.2 17 7 14.8 7 12C7 9.2 9.2 7 12 7ZM12 9C10.3 9 9 10.3 9 12C9 13.7 10.3 15 12 15C13.7 15 15 13.7 15 12C15 10.3 13.7 9 12 9Z'/%3E %3C/svg%3E");
}

.form--row {
  flex-wrap: wrap;
  display: flex;
}

.form--row .input {
}

.input {
  position: relative;
  margin-bottom: 16px;
}

.input__elem {
  border: 1px solid #CFD8DC;
  padding: 0 10px;
  height: 40px;
  outline: 0;
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input__elem::-webkit-input-placeholder {
  color: #424242;
}

.input__elem::-ms-input-placeholder {
  color: #424242;
}

.input__elem::placeholder {
  color: #424242;
}

.short {
  color: #424242;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  white-space: nowrap;
  text-decoration: none;
  display: inline-flex;
  margin: 0 24px 0 0;
  align-items: center;
  position: relative;
}

.short:last-child {
  margin: 0;
}

.short--author {
  display: flex;
  align-items: flex-start;
  color: #000;
  font-weight: 500;
  height: 48px;
}

.short--author .short {
}

.short--bold {
  font-weight: 500;
}

.short__row {
  display: flex;
  align-items: center;
}

.short--img {
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 16px 0 0;
}

.header {
  background: #433099;
  position: relative;
}

.header__container {
  padding: 0 16px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__social {
  display: none;
  z-index: 997;
}

.header__nav {
  position: relative;
  display: none;
  width: 100%;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
}

.header__nav-list.visibility-hidden {
}

.header__nav-item {
  font-family: 'Rubik', sans-serif;
  border-bottom: 1px solid #EDE7F6;
}

.header__nav-item:last-child {
  border: none;
}

.header__nav-item:hover:before {
}

.header__nav-item:after {
  content: "";
  height: 40px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 997;
  display: none;
}

.header__nav-item:hover {
  background: #FFFF00;
}

.header__nav-item:hover .header__nav-link {
  color: #000;
}

.header__nav-item:hover .header__nav-child-list {
}

.header__nav-item:hover:after {
  background: #433099;
}

.header__nav-item--arrow:hover:after {
  right: auto;
}

.header__nav-item--arrow:hover .header__nav-link {
  color: #000;
}

.header__nav-item--arrow:hover .header__nav-link:after {
  background-image: url('../img/icons/triangle_down-dark.svg');
}

.header__nav-item--arrow .header__nav-link:after {
  content: "";
  display: block;
  background-image: url('../img/icons/triangle_down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header__nav-item .header__nav-link {
}

.header__nav-item .header__nav-link:after {
  right: auto;
}

.header__nav-link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  text-decoration: none;
  padding: 12px 16px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-child-list {
  display: none;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  background: #512DA8;
  z-index: 997;
  border-top: 1px solid #EDE7F6;
}

.header__nav-child-list.show {
}

.header__nav-child-item {
  border-bottom: 1px solid #EDE7F6;
}

.header__nav-child-item:hover {
}

.header__nav-child-item:last-child {
  border: none;
}

.header__nav-child-link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  height: 56px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header__nav-child-link:hover {
}

.header__panel {
  margin: 0 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  height: 48px;
  display: none;
}

.header__search-form {
  display: flex;
  align-items: center;
}

.header__search-submit {
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23616161' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z'/%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  right: 48px;
  top: 0;
}

.header__search-submit:before {
  display: none;
}

.header__search-input {
  background: #FFD600;
  border-color: #FFD600;
  min-height: 48px;
  padding: 0 96px 0 16px;
}

.header__search-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.header__account {
}

.header__account-img {
  display: block;
  border-radius: 2px;
  position: absolute;
}

.header__burger {
}

.header--mobile-menu .header__social {
}

.header--mobile-menu .header__social .social__link {
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
}

.header--mobile-menu .header__social .social__link:last-child {
  margin: 0;
}

.header--mobile-menu .header__nav {
}

.header--mobile-menu .header__mobile {
}

.header__mobile {
  display: none;
}

.mobile-menu-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 995;
  background: rgba(0, 0, 0, .5);
  display: none;
}

.mobile-menu-back {
  color: #fff;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 500;
  line-height: 48px;
  padding-left: 48px;
  position: fixed;
  top: 48px;
  right: 0;
  z-index: 997;
  width: 240px;
  height: 48px;
  background-color: #512DA8;
  background-image: url('../img/icons/triangle_left.svg');
  background-repeat: no-repeat;
  background-position: 11px center;
  cursor: pointer;
  display: none;
  border-bottom: 1px solid #EDE7F6;
}

.mobile-menu-back.show {
}

.overflow-hidden {
  overflow: hidden;
}

.breaking {
  margin: 32px 16px;
  padding: 16px;
  background: #FFD600;
  display: block;
  color: #000;
  text-align: center;
}

.breaking:hover {
  color: #512DA8;
}

.breaking__label {
  display: flex;
  align-items: center;
  color: #512DA8;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 4px;
}

.breaking__label:after,.breaking__label:before {
  content: '';
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.breaking__label:before {
  background-image: url('../img/icons/lightning-prev.svg');
  margin: 0 4px 0 0;
}

.breaking__label:after {
  background-image: url('../img/icons/lightning-next.svg');
  margin: 0 0 0 4px;
}

.breaking__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

.feed {
  background: #FFD600;
  margin: 0 0 32px;
  padding: 0 24px 24px;
  display: none;
}

.feed__title {
  color: #000;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  font-family: 'Yellowtail', cursive;
}

.feed__title-row {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed__title-icon {
  max-width: 48px;
}

.feed__headline {
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 24px;
}

.feed__footer {
  width: 100%;
  margin: 32px 0 0;
}

.feed__item {
  border-bottom: 1px solid #F9A825;
  color: #000;
  display: block;
  padding: 24px 0;
}

.feed__item-row {
  display: flex;
  align-items: flex-start;
}

.feed__item-info {
  margin: -2px 0 0 16px;
}

.feed__item-title {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
}

.feed__item-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.feed__item .short__row {
  margin: 0 0 4px;
}

.feed__item .short {
  font-weight: 400;
}

.feed__item:first-child {
  border-top: 1px solid #F9A825;
}

.feed__item:last-child {
  border: none;
}

.feed__img-wrapper {
  max-width: 80px;
  min-width: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.feed--something {
}

.feed--subscribe {
  padding: 0;
}

.feed--subscribe .feed__title-row {
  padding-right: 24px;
  padding-left: 24px;
}

.feed__subscribe {
  border-top: 1px solid #000;
}

.feed__subscribe-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  width: 100%;
  background-position: 16px center;
  padding: 0 0 0 56px;
}

.feed__subscribe-item:last-child {
  border: none;
}

.feed__subscribe-headline {
  margin: 0 0 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.feed--defaults {
  background: transparent;
  padding: 0;
}

.feed--defaults .feed__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 32px;
}

.feed--defaults .feed__item {
  border: none;
  padding: 0;
  margin: 0 0 32px;
}

.feed--defaults .feed__item-desc {
  font-weight: 400;
}

.feed--defaults .feed__item:last-child {
  margin: 0;
}

.feed-bg {
  background: #FFFFFF;
  padding: 24px 24px 0;
}

.feed-bg .feed__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 16px;
}

.feed-bg .feed__item {
  border-color: #E0E0E0;
}

.feed-bg .feed__item-link {
  color: #512DA8;
}

.article__over {
  display: flex;
  flex-direction: column;
}

.article__over .article__label {
  order: 1;
}

.article__over .article__title {
  order: 2;
}

.article__over .short__row {
  order: 3;
  margin: 16px 0 0;
}

.article__over .short--bold {
}

.article__label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 16px;
}

.article__label-img {
  margin: 0 16px 0 0;
}

.article__wrapper {
  padding: 28px 16px;
  margin: 0 0 32px;
  background: #FFFFFF;
}

.article__mark {
  margin: 28px 0;
}

.article__mark a {
  color: #512DA8;
}

.article__main {
  margin: 28px -16px 12px;
}

.article__main .article__caption {
  margin: 28px 16px 0;
}

.article__content {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Rubik', sans-serif;
  margin: 24px 0 0;
  word-break: break-word;
  clear: both;
}

.article__social {
  margin: 0 0 0 -16px;
}

.article__anchor {
  padding: 0 0 0 20px;
  margin: 24px 0;
}

.article__anchor-item {
  margin: 0 0 12px;
  position: relative;
}

.article__anchor-item:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #512DA8;
}

.article__anchor-link {
  color: #512DA8;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
}

.article__writer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 24px 0 -28px;
  padding: 32px 0;
  border-top: 1px solid #BDBDBD;
}

.article__writer-img--wrapper {
  max-width: 160px;
  min-width: 160px;
  margin: 0 0 16px;
}

.article__writer-name {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
}

.article__writer-social {
  margin: 0 0 0 -20px;
  width: 100%;
}

.article__writer p {
  margin: 0;
}

.article__disclaimer {
  color: #424242;
  font-size: 14px;
  line-height: 1.5;
  font-style: italic;
  margin: 12px 0 0;
}

.article__card {
  background: #F5F5F5;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  margin: 28px -16px;
  font-family: 'Rubik', sans-serif;
}

.article__card-title {
  color: #263238;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
}

.article__card-img--wrapper {
  border-radius: 2px;
  overflow: hidden;
  max-width: 88px;
  min-width: 88px;
  margin: 0 0 0 16px;
}

.stories {
  background: #512DA8;
  padding: 32px 16px;
  margin: 32px 0;
}

.stories__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.stories__item {
  width: 100%;
  color: #FFFFFF;
  margin: 0 0 32px;
}

.stories__item:last-child {
  margin: 0;
}

.stories__item-img {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
  margin: 0 0 16px;
  width: 100%;
  position: relative;
}

.stories__item-img img {
  width: 100%;
}

.stories__item-headline {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 0;
}

.stories__item:hover .stories__item-headline {
  color: #FFFF00;
}

.stories .short {
  color: #FFFFFF;
  margin: 4px 0 0;
}

.releases {
  padding: 32px 16px;
  margin: 32px 0;
  border: 2px solid #000;
  position: relative;
}

.releases__title {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 20px;
  background: #FFFF00;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -80px;
}

.releases .slick-slider {
}

.releases__item {
  margin: 0 32px 0 0;
}

.releases__item-inner {
  color: #000;
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  display: block;
  outline: none;
}

.releases__item-img {
  min-width: 160px;
  max-width: 160px;
  margin: 0 0 16px;
}

.releases__item-title {
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 1.5;
}

.releases .btn--block {
  justify-content: center;
  margin: 32px 0 0;
}

.releases .btn--block > * {
  margin: 0 0 32px;
  width: 100%;
}

.releases .btn--block > *:last-child {
  margin: 0;
}

.board {
  margin: 32px 0;
}

.board:last-child {
  margin: 32px 0 0;
}

.board:first-child {
  margin: 0 0 32px;
}

.board__info {
  background: #FFFFFF;
  padding: 16px 16px 12px;
  display: block;
  width: 100%;
}

.board__title {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 16px;
}

.board__desc {
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 0;
}

.board__img {
  width: 100%;
  position: relative;
  display: block;
}

.board__footer {
  background: #FFFFFF;
  padding: 0 16px;
}

.board-info {
  display: flex;
  background: #FFFFFF;
  margin: 0 0 32px;
  padding: 16px;
}

.board-info__img {
  max-width: 132px;
  min-width: 132px;
  position: relative;
}

.board-info__lead {
  padding: 0 0 0 16px;
}

.board-info__title {
  min-height: 108px;
}

.board-info__desc {
  color: #000;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 0 -145px;
}

.board-line {
  display: flex;
  align-items: flex-start;
  padding: 16px 16px 56px;
  margin: 0 0 32px;
  background-color: #fff;
  position: relative;
}

.board-line:last-child {
  margin: 32px 0 0;
}

.board-line:first-child {
  margin: 0 0 32px;
}

.board-line__img {
  max-width: 132px;
  min-width: 132px;
  position: relative;
  display: block;
}

.board-line__info {
  width: 100%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-line__title {
  color: #263238;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  background: #FFFFFF;
  width: 100%;
  margin: 0;
  display: block;
}

.board-line__footer {
  position: absolute;
  left: 16px;
  bottom: 0;
}

.board-line .short--bold {
}

.infoblock {
  background: #FFFFFF;
  padding: 24px 16px;
  margin: 0 0 32px;
}

.infoblock:last-child {
  margin: 0;
}

.infoblock > * {
  margin: 16px 0;
}

.infoblock > *:first-child {
  margin-top: 0;
}

.infoblock > *:last-child {
  margin-bottom: 0;
}

.infoblock h1,.infoblock h2 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 16px;
}

.infoblock a:not([class]) {
  color: #512DA8;
}

.infoblock ul li {
  margin: 0 0 16px;
}

.infoblock ul li:last-child {
  margin: 0;
}

.staff__item {
  align-items: flex-start;
  position: relative;
  padding: 32px 48px 32px 0;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}

.staff__item:last-child {
  border: 0;
  padding-bottom: 0;
}

.staff__item .social {
  margin: 0 0 0 -16px;
}

.staff__item .social__link {
  width: 48px;
  height: 48px;
  min-width: 48px;
}

.staff__info {
  margin-left: 16px;
}

.staff__info-column {
  height: 72px;
}

.staff__info p {
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 0 -132px;
}

.staff__name {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 253px;
  display: block;
  white-space: normal;
}

.staff__img {
  width: 100%;
}

.staff__img-wrapper {
  min-width: 116px;
  max-width: 116px;
  height: 72px;
  background: svg-load("./img/icons/greeting.svg") no-repeat (center / 44px), linear-gradient(-45deg, #d0d7df 0%, #f2f7f5 100%);
  border-radius: 2px;
  overflow: hidden;
}

.cookies {
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(81, 45, 168, 0.5);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 0;
  z-index: 300;
}

.cookies__row {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.cookies__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  max-width: 825px;
  text-align: center;
}

.cookies__desc a {
  color: #512DA8;
}

.cookies .btn__block {
  justify-content: center;
  margin: 16px auto 0;
  display: flex;
  align-items: center;
}

.cookies .btn__block > * {
  margin: 0 16px 0 0;
  white-space: nowrap;
}

.cookies .btn__block > *:last-child {
  margin: 0;
}

.footer {
  margin: 32px 0 0;
  background: #512DA8;
}

.footer__container {
  margin: 0 auto;
  padding: 0 16px;
}

.footer__row {
  flex-wrap: wrap;
  padding: 32px 0;
  border-bottom: 1px solid #EDE7F6;
  display: flex;
  justify-content: space-between;
}

.footer__social .social__link {
  background-color: #FFFF00;
  border-right: 1px solid #512DA8;
}

.footer__social .social__link:last-child {
  border: none;
}

.footer__title {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 1.7;
  margin: 0 0 16px;
}

.footer__follow-us {
  margin-right: 0;
}

.footer__follow-us .footer__title {
}

.footer__subscribe {
}

.footer__subscribe-form {
}

.footer__subscribe-form .input {
  height: 56px;
  width: 100%;
}

.footer__subscribe-form .input:first-child {
  margin: 0 0 16px;
  width: 100%;
}

.footer__subscribe-input {
  width: 100%;
  background: transparent;
  border: 1px solid #EDE7F6;
  color: #FFFFFF;
  height: 56px;
}

.footer__subscribe-input::-webkit-input-placeholder {
  color: #EDE7F6;
}

.footer__subscribe-input::-ms-input-placeholder {
  color: #EDE7F6;
}

.footer__subscribe-input::placeholder {
  color: #EDE7F6;
}

.footer__subscribe-agree {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 1.7;
  margin: 16px 0 0;
}

.footer__subscribe-agree a {
  color: #FFFF00;
}

.footer__subscribe-agree a:hover {
  color: #FFFFFF;
}

.footer__nav {
  padding: 32px 0;
  border-bottom: 1px solid #EDE7F6;
  position: relative;
}

.footer__nav-list {
  margin: -16px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item {
  width: 60%;
  margin: 16px 0 0;
  white-space: nowrap;
}

.footer__nav-item:nth-child(even) {
}

.footer__nav-link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
}

.footer__nav-link:hover {
  color: #EDE7F6;
}

.footer__nav-child-list {
  margin-top: 1rem;
}

.footer__nav-child-item {
  margin: 0 0 16px;
}

.footer__nav-child-item:last-child {
  margin: 0;
}

.footer__nav-child-link {
  color: #FFFF00;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
}

.footer__nav-child-link:hover {
  color: #EDE7F6;
}

.footer__disclaimer {
  border-bottom: 1px solid #EDE7F6;
  padding: 16px 0;
}

.footer__disclaimer-text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.footer__copy {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__copy-text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.4;
  margin-right: 2rem;
}

.footer__copy-link {
  color: #FFFF00;
  font-size: 14px;
  line-height: 1.4;
}

.footer__copy-link:hover {
  color: #FFFFFF;
}

figure {
  margin: 24px 0;
}

.article__caption,figcaption {
  color: #424242;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: italic;
  margin: 12px 0 0;
}

.article__caption a,figcaption a {
  color: #512DA8;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  margin: 24px 0;
}

.article__content p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Rubik', sans-serif;
  margin: 24px 0;
  word-break: break-word;
  clear: both;
}

.article__content p b,.article__content p strong {
  font-weight: 500;
}

.article__content p a {
  color: #512DA8;
}

.article ol:not([class]) {
  padding: 0 0 0 20px;
  margin: 24px 0;
}

.article ol:not([class]) li {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 12px;
}

.article ol:not([class]) li:last-child {
  margin: 0;
}

.article ol:not([class]) p {
  margin: 0;
}

.article ul:not([class]) {
  padding: 0 0 0 20px;
  margin: 24px 0;
}

.article ul:not([class]) li {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  font-family: 'Rubik', sans-serif;
  position: relative;
  margin: 0 0 12px;
}

.article ul:not([class]) li:last-child {
  margin: 0;
}

.article ul:not([class]) li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
}

.article ul:not([class]) p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  border: 1px solid #CFD8DC;
  max-width: 736px;
  display: block;
  overflow-x: auto;
  border-top: 0;
  margin: 24px 0;
}

table td,table th {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
  padding: .75rem 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

table td {
  min-width: 170px;
}

html body li p,html body td p {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.9;
}

h2 span {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.1;
  letter-spacing: .015em;
}

blockquote {
  padding: 32px 16px;
  margin: 28px -16px;
  background: #F5F5F5;
  position: relative;
  color: #000;
  font-size: 17px;
  line-height: 1.6;
}

blockquote a {
  color: #512DA8;
}

blockquote p {
  color: #000;
  font-size: 17px;
  line-height: 1.6;
}

blockquote b,blockquote strong {
  font-weight: 500;
}

blockquote:before {
  content: '';
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='18' viewBox='0 0 28 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M28 0H22L16 6V18H27.9824L28 6H22L28 0Z' fill='%23512DA8'/%3E %3Cpath d='M12 0H6L0 6V18H11.9824L12 6H6L12 0Z' fill='%23512DA8'/%3E %3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 16px;
}

blockquote img {
  margin: 16px 0 0;
  float: left;
  width: 40px;
  height: 40px;
}

blockquote strong {
  color: #000;
  font-size: 17px;
  line-height: 1.6;
  height: 40px;
  display: block;
  margin: 0 0 0 56px;
  padding: 24px 0 32px;
}

@media (min-width: 380px) {
  .board-info__img {
    max-width: 156px;
    min-width: 156px;
  }

  .board-info__title {
    min-height: 128px;
  }

  .board-info__desc {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -170px;
  }

  .board-line {
    padding: 16px;
  }

  .board-line__img {
    max-width: 156px;
    min-width: 156px;
  }

  .board-line__title {
    margin: 0 0 8px;
  }

  .board-line__footer {
    position: relative;
    left: auto;
    bottom: auto;
  }
}

@media (min-width: 480px) {
  .hide-sm-only {
    display: none;
  }

  .slick-next {
    right: 16;
  }

  .slick-prev {
    left: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .something--top {
    height: 90px;
  }

  .short {
    margin: 0 32px 0 0;
  }

  .breaking {
    margin-right: 0;
    margin-left: 0;
  }

  .breaking__label {
    font-size: 24px;
  }

  .breaking__title {
    font-size: 17px;
  }

  .article__over .article__title {
    order: 3;
  }

  .article__over .short__row {
    order: 1;
    margin: -20px 0 0;
  }

  .article__wrapper {
    padding-right: 27px;
    padding-left: 27px;
  }

  .article__main {
    margin-right: -27px;
    margin-left: -27px;
  }

  .article__main .article__caption {
    margin-right: 27px;
    margin-left: 27px;
  }

  .article__card {
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .article__card-img--wrapper {
    max-width: 128px;
    min-width: 128px;
  }

  .stories {
    margin-right: -16px;
    margin-left: -16px;
  }

  .releases {
    padding-right: 32px;
    padding-left: 32px;
  }

  .board__title {
    font-size: 24px;
  }

  .board-info__title {
    font-size: 28px;
    margin: 0 0 8px;
    min-height: 1px;
  }

  .board-info__desc {
    margin: 8px 0 0;
  }

  .board-line__title {
    font-size: 17px;
  }

  .infoblock {
    padding: 24px 32px 32px;
  }

  .staff__item {
    padding: 32px 0;
  }

  .staff__info-column {
    height: 100px;
  }

  .staff__info p {
    margin: 16px 0 0 -174px;
  }

  .staff__img-wrapper {
    min-width: 160px;
    max-width: 160px;
    height: 100px;
  }

  .cookies__row {
    padding: 0;
  }

  .cookies .btn__block > * {
    margin: 0 24px 0 0;
  }

  .cookies .btn__block > *:last-child {
    margin: 0;
  }

  .footer__follow-us .footer__title {
    white-space: nowrap;
  }

  .footer__nav-item {
    width: 33%;
  }

  blockquote {
    padding: 40px 97px;
    margin-right: -27px;
    margin-left: -27px;
  }

  blockquote:before {
    width: 28px;
    height: 18px;
    top: 50px;
    left: 40px;
  }

  blockquote img {
    margin-top: 24px;
    width: 64px;
    height: 64px;
  }

  blockquote strong {
    height: 64px;
    margin-left: 80px;
    padding: 40px 0 48px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hide-md-up {
    display: none;
  }

  .slick-next {
    right: -65px;
  }

  .slick-prev {
    left: -65px;
  }

  .f-container {
    flex-wrap: nowrap;
  }

  .main-block {
    width: 480px;
  }

  .aside {
    max-width: 240px;
  }

  .btn--search {
    width: unset;
    padding: 0;
  }

  .btn--search:before {
    margin: 0 8px 0 0;
  }

  .something--content {
    margin: 2rem 0;
  }

  .something-square {
    display: none;
  }

  .something--footer {
    display: none;
    height: 0;
  }

  .form--row {
    flex-wrap: nowrap;
  }

  .form--row .input {
    margin-right: 8px;
    margin-bottom: 0;
    display: flex;
  }

  .header__container {
    flex-wrap: wrap;
    max-width: 768px;
  }

  .header__nav {
    display: block;
    margin: 8px 0 0;
  }

  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav-item {
    position: relative;
    border-bottom: none;
  }

  .header__nav-item:after {
    height: 4px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: -1px;
    left: 0;
  }

  .header__nav-item:hover .header__nav-child-list {
    display: block;
  }

  .header__nav-item--arrow:hover:after {
    right: 24px;
  }

  .header__nav-item--arrow .header__nav-link:after {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  .header__nav-item .header__nav-link:after {
    right: 24px;
  }

  .header__nav-link {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }

  .header__nav-child-list {
    min-width: 190px;
  }

  .header__nav-child-item:hover {
    background: #FFFF00;
  }

  .header__nav-child-link:hover {
    color: #000;
  }

  .header__panel {
    margin: 0;
  }

  .header__burger {
    display: none;
  }

  .breaking {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .breaking__label {
    margin: 0 16px 0 0;
  }

  .feed {
    display: block;
  }

  .article__writer {
    flex-wrap: nowrap;
  }

  .article__writer-img--wrapper {
    margin: 0 32px 0 0;
  }

  .article__card {
    margin: 40px 0;
  }

  .stories {
    box-shadow: -700px 0 0 #512DA8,700px 0 0 #512DA8;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .stories__item {
    width: 31%;
    margin: 0;
  }

  .stories__item-img img {
    width: auto;
  }

  .releases {
    padding-right: 80px;
    padding-left: 80px;
  }

  .releases__item {
    margin: 0;
  }

  .releases .btn--block > * {
    margin: 0 32px 0 0;
    max-width: 256px;
  }

  .releases .btn--block > *:last-child {
    margin: 0;
  }

  .board__info {
    padding: 32px 24px 16px;
  }

  .board__footer {
    padding: 0 32px;
  }

  .board-info__img {
    max-width: 210px;
    min-width: 210px;
  }

  .board-line__img {
    max-width: 210px;
    min-width: 210px;
  }

  .staff__info {
    margin-left: 32px;
  }

  .staff__info-column {
    height: auto;
  }

  .staff__info p {
    margin: 0;
  }

  .cookies {
    padding: 10px 0;
  }

  .cookies__row {
    display: flex;
  }

  .cookies__desc {
    text-align: left;
  }

  .cookies .btn__block {
    margin: 0 0 0 32px;
  }

  .footer__container {
    max-width: 768px;
  }

  .footer__row {
    flex-wrap: nowrap;
  }

  .footer__follow-us {
    margin-right: 24px;
  }

  .footer__subscribe-form .input {
    width: auto;
  }

  .footer__subscribe-form .input:first-child {
    margin: 0;
    width: auto;
  }

  .footer__subscribe-input {
    width: 232px;
  }

  .footer__nav-list {
    margin: -32px 0 0;
    display: flex;
    justify-content: space-between;
  }

  .footer__nav-item {
    margin: 32px 0 0;
  }

  .footer__nav-link {
    color: #FFFF00;
  }

  .footer__copy {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1152px) {
  .container {
    max-width: 1182px;
  }

  .btn-aside-space {
    margin-top: 2rem;
  }

  .hide-xl-only {
    display: none;
  }

  .slick-next {
    right: -75px;
  }

  .slick-prev {
    left: -75px;
  }

  .main-block {
    width: 782px;
  }

  .aside {
    max-width: 336px;
  }

  .something--content {
    margin: 2.5rem 0;
  }

  .something__content-square {
    display: none;
  }

  .something--aside {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .something--wide {
    margin-bottom: 2rem;
  }

  .something__wrapper {
    margin-bottom: 1.5rem;
  }

  .form--row .input {
    margin-right: 16px;
  }

  .short--author {
    align-items: center;
  }

  .short--author .short {
    margin: 0 0 0 32px;
  }

  .header__container {
    flex-wrap: nowrap;
    height: 48px;
    max-width: 1182px;
  }

  .header__nav {
    width: auto;
    margin: 0;
  }

  .header__nav-list {
    margin: 0 24px;
    display: flex;
    align-items: center;
  }

  .feed {
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
  }

  .feed__title {
    font-size: 38px;
  }

  .feed__title-icon {
    max-width: 100%;
  }

  .feed--something {
    padding: 0;
  }

  .feed--subscribe {
    padding: 0;
  }

  .feed--subscribe .feed__title-row {
    padding-right: 32px;
    padding-left: 32px;
  }

  .feed--defaults {
    padding: 0;
  }

  .feed-bg {
    padding: 24px 32px 0;
  }

  .article__card {
    padding-left: 32px;
  }

  .releases {
    padding-right: 100px;
    padding-left: 100px;
  }

  .board-info {
    padding: 0;
  }

  .board-info__img {
    max-width: 240px;
    min-width: 240px;
  }

  .board-info__lead {
    padding: 28px 32px;
  }

  .board-line {
    align-items: normal;
    padding: 0;
  }

  .board-line__img {
    max-width: 240px;
    min-width: 240px;
  }

  .board-line__info {
    margin-left: 0;
    padding: 16px 32px 0;
  }

  .board-line__title {
    margin: 0;
  }

  .footer__container {
    max-width: 1180px;
  }

  .footer__follow-us {
    margin-right: 56px;
  }

  .footer__subscribe-input {
    width: 269px;
  }

  .footer__subscribe-agree {
    margin: 0 0 0 16px;
  }

  .footer__nav-item {
    width: auto;
  }

  table td,table th {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
  }

  html body li p,html body td p {
    font-weight: 500;
    font-size: 15px;
    line-height: 2.1;
  }

  blockquote {
    font-size: 25px;
  }

  blockquote p {
    font-size: 25px;
  }
}

@media (max-width: 1152px) {
  .hide-xl-down {
    display: none;
  }

  .something__content-long {
    display: none;
  }

  .something--aside {
    height: 200px;
  }

  .something--aside > * {
    -webkit-transform: scale(.76);
    transform: scale(.76);
  }

  .short--author {
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 40px;
  }

  .short--img {
    position: absolute;
    left: 0;
    top: 12px;
  }

  .header__nav {
    order: 9;
  }

  .header__nav-list.visibility-hidden {
    visibility: visible;
  }

  .feed--something {
    display: none;
  }

  .article__over .short__row {
    align-items: flex-start;
  }

  .article__over .short--bold {
    top: 3px;
  }

  .board-line__footer {
    margin: 0;
  }

  .board-line .short--bold {
    display: none;
  }

  .footer__subscribe-form {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .hide-md-down {
    display: none;
  }

  .slick-arrow {
    bottom: 89px;
    top: auto;
  }

  .something-long {
    display: none;
  }

  .header__container {
    max-width: 480px;
  }

  .header__nav-list {
    background: #512DA8;
    padding-bottom: 24px;
  }

  .header__nav-item:hover:before {
    display: block;
  }

  .header__nav-item:after {
    margin-top: -44px;
    width: 4px;
  }

  .header__nav-item .header__nav-link {
    pointer-events: none;
  }

  .header__nav-link {
    pointer-events: none;
  }

  .header__nav-child-list {
    top: -1px;
    bottom: 0;
    width: 240px;
    overflow: auto;
  }

  .header__nav-child-list.show {
    display: block;
  }

  .header__account {
    margin-right: 16px;
  }

  .header--mobile-menu .header__social {
    display: flex;
    width: 240px;
    position: fixed;
    top: 48px;
    right: 0;
    background: #512DA8;
    border-bottom: 1px solid #EDE7F6;
    height: 48px;
  }

  .header--mobile-menu .header__nav {
    position: fixed;
    top: 96px;
    right: 0;
    width: 240px;
    display: block;
    z-index: 997;
    height: 100vh;
    background: #512DA8;
  }

  .header--mobile-menu .header__mobile {
    display: flex;
    justify-content: flex-end;
    z-index: 997;
    border-bottom: 1px solid #EDE7F6;
    position: fixed;
    top: 0;
    right: 0;
    background: #512DA8;
    width: 240px;
    height: 48px;
  }

  .mobile-menu-back.show {
    display: block;
  }

  .breaking__label {
    justify-content: center;
  }

  .releases .slick-slider {
    position: static;
  }

  .releases .btn--block {
    display: block;
    padding: 0 48px;
  }

  .footer__container {
    max-width: 480px;
  }

  .footer__follow-us {
    margin-bottom: 24px;
    width: 100%;
  }

  .footer__subscribe {
    width: 100%;
  }

  .footer__nav-child-list {
    display: none;
  }
}

@media (max-width: 479px) {
  .hide-sm-down {
    display: none;
  }

  .something--wide {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .releases {
    border-left: none;
    border-right: none;
  }

  .board-info__title {
    display: flex;
    align-items: center;
  }

  .staff__item .social {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .footer__nav-item:nth-child(even) {
    width: 40%;
  }

  .footer__copy-text {
    margin-bottom: 1rem;
  }
}