.aside
    .feed.feed--subscribe
        .feed__title-row
            .feed__title Follow us

            .feed__title-icon
                include ../../img/icons/aside/follow-us.svg

        .feed__subscribe
            a.feed__subscribe-item.link-accent(href="#!" target="_blank")
                .social__link
                    include ../../img/icons/social/facebook.svg
                .feed__item-desc Like
                .feed__subscribe-headline cryptocomes.en

            a.feed__subscribe-item.link-accent(href="#!" target="_blank")
                .social__link
                    include ../../img/icons/social/twitter.svg
                .feed__item-desc Follow
                .feed__subscribe-headline @cryptocomes

            a.feed__subscribe-item.link-accent(href="#!" target="_blank")
                .social__link
                    include ../../img/icons/social/youtube.svg
                .feed__item-desc Watch
                .feed__subscribe-headline cryptocomes

            a.feed__subscribe-item.link-accent(href="#!" target="_blank")
                .social__link
                    include ../../img/icons/social/telegram.svg
                .feed__item-desc Join
                .feed__subscribe-headline @cryptocomes_en

            a.feed__subscribe-item.link-accent(href="#!" target="_blank")
                .social__link
                    include ../../img/icons/social/email.svg
                .feed__item-desc Subscribe to email