.article
    .article__panel
        a.short.short--link(href="#!") ⭐ Featured
        .short 27 Oct 2018

    .article__wrapper

        h1 Women of Crypto at the Crypto Invest Summit: Separate but Hopeful

        .article__writer
            a.article__writer-img--wrapper(href="#!")
                img.article__writer-img(src="img/content/article/avatar-64x64.png")

            .article__writer-info
                a.article__writer-name(href="#!") Konstantin Konstantinopolsky

            p I did some quite research, checked a hefty load of sources and here’s my superb mining platforms overview. In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low.

        .article__main
            img.article__main-img(src="img/content/article/main-img.png")

            .article__guid
                h5.article__guid-title You may also like:

                ul.article__guid-list
                    li.article__guid-item
                        a.article__guid-link(href="#!") <span class="text-mark"> 🔥 TOP STORY </span> Bitcoin Price Prediction for November: The Market Is Wound Up and Waiting

                    li.article__guid-item
                        a.article__guid-link(href="#!") 🚀 Original Bitcoin Fork, BCH, Gets Exchanges’ Seal of Approval for Upcoming Fork

                    li.article__guid-item
                        a.article__guid-link(href="#!") 💎 Brave Rewards Now Available for Android

        .article__disclaimer Disclaimer: The opinion expressed here is not investment advice – it is provided for informational purposes only. It does not necessarily reflect the opinion of U.Today. Every investment and all trading involves risk, so you should always perform your own research prior to making decisions. We do not recommend investing money you cannot afford to lose.

        .article__content
            h2 Women of Crypto as opening act

            p It’s worth noting, however, that the Women’s track took place on the day before the actual conference began. To avoid confusion, the event’s agenda page ran the following missive in red capitals: “No conference and expo on Monday. Conference and expo days are Tuesday and Wednesday. Monday is Women of Crypto pre-conference track and kickoff party.”

            h3 Women of Crypto as opening act

            p It’s worth noting, however, that the Women’s track took place on the day before the actual conference began. To avoid confusion, the event’s agenda page ran the following missive in red capitals: “No conference and expo on Monday. Conference and expo days are Tuesday and Wednesday. Monday is Women of Crypto pre-conference track and kickoff party.”

            ul
                li(dir='ltr') Element 1
                li(dir='ltr') Element 2
                li(dir='ltr') Element 3
                li(dir='ltr') Element 4
                li(dir='ltr') Element 5
                li(dir='ltr') Element 6

            p As one would expect under such circumstances, the audience for the track was a fraction of that which was expected to attend the summit proper. On the upside, just about half of the crowd comprised men, something the organizers noted as being a very encouraging sign of support from across the aisle.

            p(dir="ltr")
                .article__card
                    a.article__card-title(href="#!") <span class="text-mark">👉 MUST READ </span> Africa’s Blockchain Potential Limitless But Its Implementation the True Struggle
                    a.article__card-img--wrapper(href="#!")
                        img.article__card-img(src="img/content/article/article__card.png")

            p
                | In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low, but in the last couple of years, every major crypto and Blockchain event diligently features a Women in Crypto panel. The second <a href='#!'>Crypto Invest Summit</a>, which took place this week at LA’s Convention Center, was no exception; indeed, the conference went all out for a full Women of Crypto track.

        .article__tags.btns-spacer
            a.btn.btn--hash-tag(href="#!") #Hashtag
            a.btn.btn--hash-tag(href="#!") #MaltaBlockchainSummit
            a.btn.btn--hash-tag(href="#!") #Bitcoin
            a.btn.btn--hash-tag(href="#!") #Processor

        .article__writer.article__writer-bg
            a.article__writer-img--wrapper(href="#!")
                img.article__writer-img(src="img/content/article/avatar-64x64.png")

            .article__writer-info
                .article__writer-title About the author
                .article__writer-row
                    a.article__writer-name(href="#!") Konstantin Konstantinopolsky

                    .social.article__writer-social
                        a.social__link.social__link--fb(href="#!")
                        a.social__link.social__link--ln(href="#!")
                        a.social__link.social__link--tg(href="#!")
                        a.social__link.social__link--tw(href="#!")

            p I did some quite research, checked a hefty load of sources and here’s my superb mining platforms overview. In the early days of crypto community conferences, the number of women attending and especially speaking was notoriously low.

        a.article__wall(href="#!")
            .article__wall-label Editor’s pick
            .article__wall-img--wrapper
                img.article__wall-img(src="img/content/article/article__wall.png")

            .article__wall-title Tron’s Justin Sun Calls Binance Coin the New Bitcoin — Is Now the Time to Invest?

        .article__ref
            a.article__ref-item(href="#!")
                .article__ref-img--wrapper
                    img.article__ref-img(src="img/content/article/article__ref-1.png")

                .article__ref-name <span class="text-mark"> 🔥 TOP STORY </span> Ripple Price Prediction For November: Quietly In Reversal

            a.article__ref-item(href="#!")
                .article__ref-img--wrapper
                    img.article__ref-img(src="img/content/article/article__ref-2.png")

                .article__ref-name 🚀 ChainAds DLT Advertiser Launches DrMiner Cloud Platform, 2FA Secure

            a.article__ref-item(href="#!")
                .article__ref-img--wrapper
                    img.article__ref-img(src="img/content/article/article__ref-3.png")

                .article__ref-name 💎 5 Reasons to Invest in Ripple: How to Invest in XRP Most Profitable







