.feed.feed--subscribe
    .feed__title-row
        .feed__title Follow us

        .feed__title-icon
            img(src="img/icons/aside/follow-us.svg" alt="Follow us")

    .feed__subscribe
        a.feed__subscribe-item.link-accent.social__link.social__link--fb(href="#!" target="_blank")
            .feed__item-desc Like
            .feed__subscribe-headline cryptocomes.en

        a.feed__subscribe-item.link-accent.social__link.social__link--tw(href="#!" target="_blank")
            .feed__item-desc Follow
            .feed__subscribe-headline @cryptocomes

        a.feed__subscribe-item.link-accent.social__link.social__link--yt(href="#!" target="_blank")
            .feed__item-desc Watch
            .feed__subscribe-headline cryptocomes

        a.feed__subscribe-item.link-accent.social__link.social__link--tg(href="#!" target="_blank")
            .feed__item-desc Join
            .feed__subscribe-headline @cryptocomes_en

        a.feed__subscribe-item.link-accent.social__link.social__link--em(href="#!" data-modal="subscribe-1")
            .feed__item-desc Subscribe to email

.feed.feed--something
    img(src="img/something/something__aside.png" alt="Banner")

.feed
    .feed__title-row
        .feed__title Hot stuff

        .feed__title-icon
            img(src="img/icons/aside/hot-stuff.svg" alt="Hot stuff")

    .feed__content
        a.feed__item.link-accent(href="#!")
            p.feed__item-desc Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000
            .short 2 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc WHALE ALERT: Almost $1 Bln Worth of BTC Moved to Unknown Wallets in One Hour
            .short 3 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc Bitcoin Starts August with a Bang as Its Price Surges Past $10,400
            .short 4 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000
            .short 5 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc Ushering in the future of money with Telegram’s GRAM Wallet
            .short 6 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc PlusToken Chinese Ponzi Scheme Founders Who Grabbed $3 Bln from Investors Arrested in...
            .short 7 hours ago

        a.feed__item.link-accent(href="#!")
            p.feed__item-desc Ethereum, Ripple’s XRP, Bitcoin Cash, Litecoin, EOS Prices Post Green Updates, but Fall Short...
            .short 8 hours ago

    a.btn.btn--black.feed__footer(href="#!") See all

.feed.feed--something
    img(src="img/something/something__aside-big.png" alt="Banner")