.article
    .article__wrapper
        .article__over
            h1.article__title Yuri Molchan

        .article__main
            img.article__main-img(src="https://cryptocomes.com/sites/default/files/styles/736x/public/2019-07/Yuri%20Antolov.png?itok=IUY0OCJX")
            p
                .article__caption Cover image via <a href="#!">CryptoComes</a>

        .article__content
            p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit.

            .social.article__social
                a.social__link.social__link--ln-paint(href="#!")
                a.social__link.social__link--fb-paint(href="#!")
                a.social__link.social__link--tg-paint(href="#!")
                a.social__link.social__link--tw-paint(href="#!")
                a.social__link.social__link--em-paint(href="#!")

    .board-line
        a.board-line__img(href="#!")
            img(src="img/content/board-line/item_1.png")

        .board-line__info
            a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

            .board-line__footer.short__row
                a.short.short--author(href="#!")
                    img.short--img(src="img/content/avatars/item_1.png")
                    span Alex Dovbnya
                    .short.hide-xl-only 10 months ago

                a.short.short--bold(href="#!") Price predictions
                .short.hide-xl-down 1 hour ago

    .board-line
        a.board-line__img(href="#!")
            img(src="img/content/board-line/item_2.png")
            .promo Sponsored

        .board-line__info
            a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

            .board-line__footer.short__row
                a.short.short--author(href="#!")
                    img.short--img(src="img/content/avatars/item_2.png")
                    span Yuri Molchan
                    .short.hide-xl-only 10 months ago

                a.short.short--bold(href="#!") News
                .short.hide-xl-down 2 hours ago