.article
    .article__wrapper
        .article__over
            h1.article__title LEO, LINK, ATOM Price Predictions — Altcoins Are Not Showing Unity Against the Falling Bitcoin

            .short__row.short-space-small
                a.short(href="#!") Press Releases
                .short Fri, 06/12/2020 - 08:16

        .article__main
            img.article__main-img(src="https://cryptocomes.com/sites/default/files/styles/736x/public/2019-10/Cryptohopper.JPG.jpg?itok=17FgfG-S")
            .article__caption Cover image via <a href="#!">CryptoComes</a>

        .article__disclaimer.font-normal Disclaimer: The opinion expressed here is not investment advice – it is provided for informational purposes only. It does not necessarily reflect the opinion of U.Today. Every investment and all trading involves risk, so you should always perform your own research prior to making decisions. We do not recommend investing money you cannot afford to lose.

        .article__content
            p
                i Italics, some numbers, 2020

            ul
                li Bullet list example (same as Contents bullet list)
                li
                    a(href="#!") Links allowed
                li
                    i Italics allowed
                li
                    strong Thick text allowed

            p As temperatures rise, the crypto market is trading crypto more and more intensely.
            p Russia offering prison time for crypto fans; heated debates about 66.6% (interesting number) of Coinbase users ready to leave because of privacy concerns; predictions of $200 000+ Bitcoin price; grayscale Investments buying massive amounts of crypto; and 12 hacked crypto exchanges in 2019 all throwing sparks at the same time in the crypto niche are fuelling users’ fervent desire to find safe exchanges with strong security protocols and total privacy and follow in the steps of substantial investors and attain crypto assets.
            p Is there rising interest in Bitcoins? Definitely.

            blockquote
                b Quote example.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#!">Link example</a>

            p <i>Italics allowed in text.</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p <strong>Thick text allowed.</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            figure
                img(src="img/content/article/article__img.png")
                figcaption A caption under photo. May contain link. Photo doesn’t always have a caption.

            p On the 4H chart, LEO has been trading sideways with slight fluctuations up and down since the beginning of July. Regarding the nearest price forecast, LEO is likely to decline to the nearest support zone at 0.00013 BTC. The RSI indicator is locating at the verge of the overbought confirms such a scenario.
            p The price of LEO is trading at 0.00014261 BTC at the time of writing.

            ol
                li Number list example
                li Same stuff as bullet list
                li Etc

            h2 2nd largest header.

            p According to the chart, the current level is not the bottom, and LINK might go below the support at 0.0002 BTC. The low trading volume and decreasing MACD indicator are signals of a further price drop.
            p The price of LINK is trading at 0.00021312 BTC at the time of writing.

        .article__under
            p Subscribe to CryptoComes on Twitter and get involved in all top daily crypto news, stories and price predictions!

        .article__event
            .article__event-item
                .article__event-title Website
                a.article__event-desc(href="#!") https://Link example

            .article__event-item
                .article__event-title Organization
                .article__event-desc Lorem Ipsum
