<!-- START lowner banner -->
.something--lowner
    .something
        .something__title AD

        // default nav
        .something__nav
            .something__label AD
            button.btn.btn--light.something__close(aria-label="Close ad")

        // bottom right nav
        .something__nav.bottom-right
            .something__label AD
            button.btn.btn--light.something__close(aria-label="Close ad")

        // bottom left nav
        .something__nav.bottom-left
            .something__label AD
            button.btn.btn--light.something__close(aria-label="Close ad")

        // top left nav
        .something__nav.top-left
            .something__label AD
            button.btn.btn--light.something__close(aria-label="Close ad")

        .something__content
            .something__content--long
                a(href="#" target="_blank")
                    img(src="img/something/ad-lowner_1150x60.svg" width="1150" height="60" alt="Ad lowner desktop")

            .something__content--square
                a(href="#" target="_blank")
                    img(src="img/something/ad-lowner_336x60.svg" width="336" height="60" alt="Ad lowner mobile")
<!-- END lowner banner -->
