<!-- START upper banner -->
.something--upper
    .something
        .something__title AD

        // default nav
        .something__nav
            .something__label AD
            button.btn.btn--light.something__close(aria-label="Close ad")

        .something__content
            .something__content--long
                a(href="#" target="_blank")
                    img(src="img/something/ad-upper_1150x60.svg" width="1150" height="60" alt="Ad header desktop")

            .something__content--square
                a(href="#" target="_blank")
                    img(src="img/something/ad-upper_336x60.svg" width="336" height="60" alt="Ad header mobile")
<!-- END upper banner -->