.infoblock
    h1 Submit your Press release on U.Today

    p Distribute news about your products by publishing press-release on CryptoComes.com.
    p Get enormous benefits for the lowest price of $400 for the submission.
    p Still have questions? Feel free to contact CryptoComes sales team at <a href="#!">ads@cryptocomes.com!</a>

    .table-plan
        .table-plan__row
            .table-plan__col No size limit

            .table-plan__col
                .icon.icon--check

        .table-plan__row
            .table-plan__col Social media promotion over 40 000 followers: Twitter, Facebook, Telegram <span>(optional)</span>

            .table-plan__col
                .icon.icon--check

        .table-plan__row
            .table-plan__col Custom image

            .table-plan__col
                .icon.icon--check

        .table-plan__row
            .table-plan__col Homepage publication

            .table-plan__col
                .icon.icon--check

        .table-plan__row
            .table-plan__col Publication in the Press release section

            .table-plan__col
                .icon.icon--check

        .table-plan__footer
            .table-plan__col Cost
            .table-plan__col $400

    h2 Order the publication right now

    form.form--half(action="/" method="post")
        .input
            label.input__label Your name
            input.input__elem(type="text" name="name" placeholder="John Doe")

        .input
            label.input__label Your email
            input.input__elem(type="text" name="email" placeholder="john@sitename.com")

        .input
            label.input__label Upload your file
            input.input__file(type="file" id="attach-file")
            label.input__label-file(for="attach-file")
                span Select File

        button.btn.btn--input.btn--accent(type="submit") Order now
