.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_1.png" alt="Title category")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png" alt="Alex Dovbnya")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_2.png" alt="Title category")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png" alt="Yuri Molchan")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_3.png" alt="Title category")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png" alt="Alex Dovbnya")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.something
    .something__content-long
        img(src="img/something/something__central-728.png" alt="Central banner 728x90")

    .something__content.something__content-square
        img(src="img/something/something__central-336.png" alt="Central banner 336x280")

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_4.png" alt="Title category")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png" alt="Yuri Molchan")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_5.png" alt="Title category")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png" alt="Alex Dovbnya")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_6.png" alt="Title category")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png" alt="Yuri Molchan")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago

include pagination.pug