.board-info
    .board-info__img
        img(src="img/content/board-line/board-info.png")

    .board-info__lead
        h1.board-info__title #Lorem ipsum dolor sit amet
        p.board-info__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_1.png")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_2.png")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_3.png")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_4.png")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_5.png")

    .board-line__info
        a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_1.png")
                span Alex Dovbnya
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") Price predictions
            .short.hide-xl-down 1 hour ago

.board-line
    a.board-line__img(href="#!")
        img(src="img/content/board-line/item_6.png")
        .promo Sponsored

    .board-line__info
        a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

        .board-line__footer.short__row
            a.short.short--author(href="#!")
                img.short--img(src="img/content/avatars/item_2.png")
                span Yuri Molchan
                .short.hide-xl-only 10 months ago

            a.short.short--bold(href="#!") News
            .short.hide-xl-down 2 hours ago