extends layouts/amp-layout.pug

block title
    title AMP Article | CC

block content
    .f-container
        .main-block
          include blocks/amp-article.pug

        include blocks/amp-aside.pug