extends layouts/layout.pug

block title
    title Category | CC

block content
    <!-- START leaderboard banner -->
    .something--leaderboard
        .something
            .something__nav
                .something__label AD
                button.btn.btn--light.something__close(aria-label="Close ad")

            .something__content
                .something__content--long 
                    a(href="#" target="_blank")
                        img(src="img/something/ad-leaderboard_1150x90.svg" width="1150" height="90" alt="Ad leaderboard desktop")

                .something__content--square
                    a(href="#" target="_blank")
                        img(src="img/something/ad-leaderboard_336x60.svg" width="336" height="60" alt="Ad leaderboard mobile")
    <!-- END leaderboard banner -->
    
    .main-block
        .category-info
            h1.category-info__title #Bitcoin Price Prediction
            .category-info__text Bitcoin is the most important cryptocurrency. Its rate affects the entire market. This makes forecasts of its value extremely important news for the industry. News about Bitcoin is read by numbers to know the latest trends. Here you will find the most complete and accurate forecasts about Bitcoin movement on the volatile market. It will help to always stay in the loop of the industry. Read the most important and hot news about Bitcoin (BTC) Check Bitcoin (BTC) Price Index

        .news-card
            h2.news-card__title Bitcoin Hates September: Crypto King Enters Its Uber-Bearish Month
            
            .news-card__img--wrap
                img.news-card__img(src="img/content/news-card/card_0.png" width="800" height="362" alt="Name card")

            .news-card__annonce 
                p Historically, the first month of autumn is really painful for the flagship cryptocurrency <br /> According to data on Bitcoin's (BTC) price dynamics registered in the last nine years, cryptocurrency bulls should be more than cautious for the next four weeks.

            .news-card__content
                h3 Is Red September coming?
                p 
                    | According to historical data shared by leading cryptocurrency trading and analytics platform Bybt.com, September and March were the two worst months for Bitcoin (BTC) from 2013 to 2021.
                    <br />
                    | In these months, the Bitcoin (BTC) price was in the red for six years out of eight. September resulted in painful losses for Bitcoin (BTC) holders five times in a row.
                    <br />
                    | In 2014 and 2019, losses for Bitcoiners were in the double digits yet nowhere near as dramatic as the March ones.
                    <br />
                    | In March 2020, Bitcoin (BTC) lost almost 25% while, in March 2018, the king coin dropped by 33% in 30 days.

            a.news-card__btn(href="article.html") Go deeper

        .something
            .something__content
                .something__content--long
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_728x90.svg" width="728" height="90" alt="Ad feed desktop")

                .something__content--square
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_300x250.svg" width="300" height="250" alt="Ad feed mobile")

        .news-card
            h2.news-card__title SEC Chair Is Right About DeFi's Centralization, Says Head of Crypto Think Tank
            
            .news-card__img--wrap
                img.news-card__img(src="img/content/news-card/card_1.png" width="800" height="362" alt="Name card")

            .news-card__annonce 
                p The head of the leading cryptocurrency lobbying organization has agreed with Gary Gensler's recent take on DeFi
                p Brito applies the term DINO ("decentralized in name only") to DeFi projects in which developers act as middlemen for conducting transactions.
                p However, he also stresses that the publication of computer code should not be regulated.

            .news-card__content
                h3 The decentralization lie
                p Although many projects have succeeded in convincing investors that they are sufficiently decentralized, the incredibly cryptocurrency-savvy SEC boss, who has taught an MIT course on crypto, is not being fooled by them.
                p In a recent interview with the Financial Times, Gensler reiterated that decentralized finance platforms were not actually decentralized given that there is "a company in the middle."
                p Furthermore, he stressed that DeFi was not a new concept, pointing to the fact that peer-to-peer lending has been a thing for a long time.
                p Last month, the SEC announced its first enforcement action against a "DINO."

            a.news-card__btn(href="article.html") Go deeper

        .something
            .something__content
                .something__content--long
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_728x90.svg" width="728" height="90" alt="Ad feed desktop")

                .something__content--square
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_300x250.svg" width="300" height="250" alt="Ad feed mobile")

        .news-card
            h2.news-card__title Bitcoin Hates September: Crypto King Enters Its Uber-Bearish Month
            
            .news-card__img--wrap
                img.news-card__img(src="img/content/news-card/card_0.png" width="800" height="362" alt="Name card")

            .news-card__annonce 
                p Historically, the first month of autumn is really painful for the flagship cryptocurrency <br /> According to data on Bitcoin's (BTC) price dynamics registered in the last nine years, cryptocurrency bulls should be more than cautious for the next four weeks.

            .news-card__content
                h3 Is Red September coming?
                p 
                    | According to historical data shared by leading cryptocurrency trading and analytics platform Bybt.com, September and March were the two worst months for Bitcoin (BTC) from 2013 to 2021.
                    <br />
                    | In these months, the Bitcoin (BTC) price was in the red for six years out of eight. September resulted in painful losses for Bitcoin (BTC) holders five times in a row.
                    <br />
                    | In 2014 and 2019, losses for Bitcoiners were in the double digits yet nowhere near as dramatic as the March ones.
                    <br />
                    | In March 2020, Bitcoin (BTC) lost almost 25% while, in March 2018, the king coin dropped by 33% in 30 days.

            a.news-card__btn(href="article.html") Go deeper

        .something
            .something__content
                .something__content--long
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_728x90.svg" width="728" height="90" alt="Ad feed desktop")

                .something__content--square
                    a(href="#" target="_blank")
                        img(src="img/something/ad-feed_300x250.svg" width="300" height="250" alt="Ad feed mobile")

        .news-card
            h2.news-card__title Bitcoin Hates September: Crypto King Enters Its Uber-Bearish Month
            
            .news-card__img--wrap
                img.news-card__img(src="img/content/news-card/card_0.png" width="800" height="362" alt="Name card")

            .news-card__annonce 
                p Historically, the first month of autumn is really painful for the flagship cryptocurrency <br /> According to data on Bitcoin's (BTC) price dynamics registered in the last nine years, cryptocurrency bulls should be more than cautious for the next four weeks.

            .news-card__content
                h3 Is Red September coming?
                p 
                    | According to historical data shared by leading cryptocurrency trading and analytics platform Bybt.com, September and March were the two worst months for Bitcoin (BTC) from 2013 to 2021.
                    <br />
                    | In these months, the Bitcoin (BTC) price was in the red for six years out of eight. September resulted in painful losses for Bitcoin (BTC) holders five times in a row.
                    <br />
                    | In 2014 and 2019, losses for Bitcoiners were in the double digits yet nowhere near as dramatic as the March ones.
                    <br />
                    | In March 2020, Bitcoin (BTC) lost almost 25% while, in March 2018, the king coin dropped by 33% in 30 days.

            a.news-card__btn(href="article.html") Go deeper

        .news-card
            h2.news-card__title Bitcoin Hates September: Crypto King Enters Its Uber-Bearish Month
            
            .news-card__img--wrap
                img.news-card__img(src="img/content/news-card/card_0.png" width="800" height="362" alt="Name card")

            .news-card__annonce 
                p Historically, the first month of autumn is really painful for the flagship cryptocurrency <br /> According to data on Bitcoin's (BTC) price dynamics registered in the last nine years, cryptocurrency bulls should be more than cautious for the next four weeks.

            .news-card__content
                h3 Is Red September coming?
                p 
                    | According to historical data shared by leading cryptocurrency trading and analytics platform Bybt.com, September and March were the two worst months for Bitcoin (BTC) from 2013 to 2021.
                    <br />
                    | In these months, the Bitcoin (BTC) price was in the red for six years out of eight. September resulted in painful losses for Bitcoin (BTC) holders five times in a row.
                    <br />
                    | In 2014 and 2019, losses for Bitcoiners were in the double digits yet nowhere near as dramatic as the March ones.
                    <br />
                    | In March 2020, Bitcoin (BTC) lost almost 25% while, in March 2018, the king coin dropped by 33% in 30 days.

            a.news-card__btn(href="article.html") Go deeper