extends layouts/layout.pug

block title
    title Events | CC

block content
    .f-container
        .main-block
            .events
                .events__info
                    h1.events__info-title Cryptocurrency and DeFi Events Calendar - U.Today

                    .btn--block.btn--block-event
                        a.btn.btn--accent.btn--huge.btn--event(href="#!") Submit Event for Free

                .events__col
                    h2.events__col-title Preffered by U.Today

                    .events__card
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/item_1.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                            .btn--block.btn--block-event.hide-sm-down
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                        .events__card-info
                            a.short.short--bg(href="#!") Blockspot Conference Europe 2018
                            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span 1 March 2018

                                li
                                    span Location:
                                    span Zurich, Switzerland

                                li
                                    span Venue:
                                    span Kaskaden-Halle

                                li
                                    span Promocode:
                                    span WWWWWWWWWWWW

                            .btn--block.btn--block-event.hide-sm-only
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                    .events__card
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/item_2.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                        .events__card-info
                            a.short.short--bg(href="#!") Tron Price ‘Ready to Fly’
                            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span 1 March 2018

                                li
                                    span Location:
                                    span Zurich, Switzerland

                                li
                                    span Venue:
                                    span Kaskaden-Halle

                    .events__card
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/item_3.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                            .btn--block.btn--block-event.hide-sm-down
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                        .events__card-info
                            a.short.short--bg(href="#!") Lorem ipsum dolor sit amet
                            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span 1 March 2018

                                li
                                    span Location:
                                    span Zurich, Switzerland

                                li
                                    span Venue:
                                    span Kaskaden-Halle

                            .btn--block.btn--block-event.hide-sm-only
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                    .events__card
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/item_4.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                            .btn--block.btn--block-event.hide-sm-down
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                        .events__card-info
                            a.short.short--bg(href="#!") Lorem ipsum dolor sit amet
                            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span 1 March 2018

                                li
                                    span Location:
                                    span Zurich, Switzerland

                                li
                                    span Venue:
                                    span Kaskaden-Halle

                            .btn--block.btn--block-event.hide-sm-only
                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                    .events__card
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/item_5.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                        .events__card-info
                            a.short.short--bg(href="#!") Lorem ipsum dolor sit amet
                            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span 1 March 2018

                                li
                                    span Location:
                                    span Zurich, Switzerland

                                li
                                    span Venue:
                                    span Kaskaden-Halle

                .events__col
                    h2.events__col-title All events

                    .events__card.events__card-medium
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/small_item_1.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                        .events__card-info
                            a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span Jul 22, 2020 - Jul 23, 2020

                                li
                                    span Location:
                                    span Zurich, Switzerland

                    .events__card.events__card-medium
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/small_item_2.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                        .events__card-info
                            a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span Jul 22, 2020 - Jul 23, 2020

                                li
                                    span Location:
                                    span Zurich, Switzerland

                    .events__card.events__card-medium
                        .events__card-left
                            .events__card-img
                                img(src="img/content/events/small_item_3.png" alt="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratio...")

                        .events__card-info
                            a.events__card-title(href="#!") Lorem ipsum dolor sit amet
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumaut odit aut ... <a href="#!">Read more</a>

                            ul
                                li
                                    span Dates:
                                    span Jul 22, 2020 - Jul 23, 2020

                                li
                                    span Location:
                                    span Zurich, Switzerland

        .aside
            .feed.feed--defaults
                .feed__title Latest news

                .feed__content
                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-16857.jpg?itok=vCzXW3Qg" alt="Altcoin Market in the Red: Bitcoin Cash, EOS, Bitcoin SV Drop 20 Percent")

                        .feed__item-info
                            p.feed__item-desc Altcoin Market in the Red: Bitcoin Cash, EOS, Bitcoin SV Drop 20 Percent
                            .short 11:05AM

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-17001.jpg?itok=MVlKYrle" alt="ConsenSys Chief Joe Lubin to Be Taken to Court by Ex-Staffer for $13 Mln")

                        .feed__item-info
                            p.feed__item-desc ConsenSys Chief Joe Lubin to Be Taken to Court by Ex-Staffer for $13 Mln
                            .short 10:30AM

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-17130.jpg?itok=OZ5jaKts" alt="Mastercard Starts Creating Its Own Cryptocurrency Team")

                        .feed__item-info
                            p.feed__item-desc Mastercard Starts Creating Its Own Cryptocurrency Team
                            .short 31 Oct

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/2019-08/Mike_Novogratz_Doesn%E2%80%99t_Think_Bitcoin_Price_Will_Ever_Go_Back_to_%245%2C000_.jpg?itok=ioChU4o4" alt="Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000")

                        .feed__item-info
                            p.feed__item-desc Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000
                            .short 27 Oct

                a.btn.btn--accent.feed__footer(href="#!") See all

            include blocks/aside.pug