extends layouts/layout.pug

block title
    title Main | CC

block content

    include blocks/breaking.pug

    .f-container
        .main-news-block
            .board
                a.board__info(href="#!")
                    h1.board__title LEO, LINK, ATOM Price Predictions — Altcoins Are Not Showing Unity Against the Falling Bitcoin
                    p.board__desc While the leading crypto is going down, some altcoins are rocketing. Which coins can show growth both in short and long-term scenarios?

                a.board__img(href="#!")
                    img(src="img/content/board/item_1.png")
                    .promo Sponsored

                .board__footer.short__row
                    a.short.short--author(href="#!")
                        img.short--img(src="img/content/avatars/item_2.png")
                        span Alex Dovbnya
                        .short.hide-xl-only 1 hour ago

                    a.short.short--bold(href="#!") Price predictions
                    .short.hide-xl-down 1 hour ago

            .something
                .something__content-long
                    img(src="img/something/something__title-728.png" alt="Title banner 728x90")

                .something__content.something__content-square
                    img(src="img/something/something__title-336.png" alt="Title banner 336x280")

        .aside
            .feed.feed--defaults
                .feed__title Latest news

                .feed__content
                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-16857.jpg?itok=vCzXW3Qg")

                        .feed__item-info
                            p.feed__item-desc Altcoin Market in the Red: Bitcoin Cash, EOS, Bitcoin SV Drop 20 Percent
                            .short 11:05AM

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-17001.jpg?itok=MVlKYrle")

                        .feed__item-info
                            p.feed__item-desc ConsenSys Chief Joe Lubin to Be Taken to Court by Ex-Staffer for $13 Mln
                            .short 10:30AM

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/node-17130.jpg?itok=OZ5jaKts")

                        .feed__item-info
                            p.feed__item-desc Mastercard Starts Creating Its Own Cryptocurrency Team
                            .short 31 Oct

                    a.feed__item.feed__item-row.link-accent(href="#!")
                        .feed__img-wrapper
                            img.feed__img(src="https://cryptocomes.com/sites/default/files/styles/150/public/2019-08/Mike_Novogratz_Doesn%E2%80%99t_Think_Bitcoin_Price_Will_Ever_Go_Back_to_%245%2C000_.jpg?itok=ioChU4o4")

                        .feed__item-info
                            p.feed__item-desc Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000
                            .short 27 Oct

                a.btn.btn--accent.feed__footer(href="#!") See all

    .stories
        .stories__list
            a.stories__item(href="#!")
                .stories__item-img
                    img(src="img/content/stories/item_1.png")

                .stories__item-headline BTCNEXT Has CEZA License and Launches Its Own BNX Coin!
                .short 1 hour ago

            a.stories__item(href="#!")
                .stories__item-img
                    img(src="img/content/stories/item_2.png")

                .stories__item-headline CoinDeal Is Celebrating It’s Premier League Sponsorship Renewal with a Unique and Highly Anticipated Token Launch
                .short 2 hour ago

            a.stories__item(href="#!")
                .stories__item-img
                    img(src="img/content/stories/item_3.png")

                .stories__item-headline NEXO Token Holders Receive US $2,409,574.87 in Dividends
                .short 3 hour ago

    .releases
        .releases__title Press Releases

        .releases__list
            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_1.png")

                    .releases__item-title Cryptohopper Introduces Market Making And Exchange Arbitrage

            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_2.png")

                    .releases__item-title XMR, DASH, NEM Altcoins Price Prediction — Trading Sideways with Slight Fluctuations

            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_3.png")

                    .releases__item-title BTC, ETH, XRP Price Analysis — Bitcoin Breaks Below $10,000, Pushing Top Coins to

            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_4.png")

                    .releases__item-title Much-Hyped Crypto Smartphone by Sirin Labs Launches in Singapore

            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_5.png")

                    .releases__item-title BSV, TRX, ADA, QTUM, BAT, Vechain Price Predictions — Can Altcoins Show

            .releases__item
                a.releases__item-inner(href="#!")
                    .releases__item-img
                        img(src="img/content/releases/item_3.png")

                    .releases__item-title BTC, ETH, XRP Price Analysis — Bitcoin Breaks Below $10,000, Pushing Top Coins to


        .btn--block
            a.btn.btn--accent(href="#!") See all
            a.btn(href="#!") Submit press release

    .f-container
        .main-news-block
            .board
                a.board__info(href="#!")
                    h2.board__title WHALE ALERT: Almost $1 Bln Worth of BTC Moved to Unknown Wallets in One Hour
                    p.board__desc While the whales are flexing their muscles, it’s time to put on our tinfoil hats and figure out what is going on

                a.board__img(href="#!")
                    img(src="img/content/board/item_2.png")

                .board__footer.short__row
                    a.short.short--author(href="#!")
                        img.short--img(src="img/content/avatars/item_1.png")
                        span Alex Dovbnya
                        .short.hide-xl-only 1 hour ago

                    a.short.short--bold(href="#!") Price predictions
                    .short.hide-xl-down 1 hour ago

            .board
                a.board__info(href="#!")
                    h2.board__title WHALE ALERT: Almost $1 Bln Worth of BTC Moved to Unknown Wallets in One Hour
                    p.board__desc While the whales are flexing their muscles, it’s time to put on our tinfoil hats and figure out what is going on

                a.board__img(href="#!")
                    img(src="img/content/board/item_3.png")

                .board__footer.short__row
                    a.short.short--author(href="#!")
                        img.short--img(src="img/content/avatars/item_2.png")
                        span Yuri Molchan
                        .short.hide-xl-only 2 hour ago

                    a.short.short--bold(href="#!") News
                    .short.hide-xl-down 2 hour ago

            a.something(href="https://easiestbet.com/casino/ctm2/en")
                .something__content-long
                    img(src="img/something/728x90_cryptocomes.gif" alt="1xBit.com")

                .something__content.something__content-square
                    img(src="img/something/336x280_cryptocomes.gif" alt="1xBit.com")

            .board-line
                a.board-line__img(href="#!")
                    img(src="img/content/board-line/item_1.png")

                .board-line__info
                    a.board-line__title(href="#!") Mike Novogratz Doesn’t Think Bitcoin Price Will Ever Go Back to $5,000

                    .board-line__footer.short__row
                        a.short.short--author(href="#!")
                            img.short--img(src="img/content/avatars/item_1.png")
                            span Alex Dovbnya
                            .short.hide-xl-only 10 months ago

                        a.short.short--bold(href="#!") Price predictions
                        .short.hide-xl-down 1 hour ago

            .board-line
                a.board-line__img(href="#!")
                    img(src="img/content/board-line/item_2.png")
                    .promo Sponsored

                .board-line__info
                    a.board-line__title(href="#!") Ushering in the future of money with Telegram’s GRAM Wallet

                    .board-line__footer.short__row
                        a.short.short--author(href="#!")
                            img.short--img(src="img/content/avatars/item_2.png")
                            span Yuri Molchan
                            .short.hide-xl-only 10 months ago

                        a.short.short--bold(href="#!") News
                        .short.hide-xl-down 2 hours ago

            .upcoming
                .upcoming__header
                    h3.upcoming__title Upcoming events

                    .btn--block
                        a.btn.btn--light(href="#!See all") See all

                .upcoming__slider
                    .views-row
                        .upcoming__item
                            .upcoming__item-img
                                img(src="img/content/upcoming/item_1.png" alt="Blockspot Conference Europe 2020")

                            .upcoming__item-info
                                .short__row
                                    .short 1 Sep 2020

                                .upcoming__item-title Blockspot Conference Europe 2020
                                a.upcoming__item-link(href="#!") Read more

                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                                .promocode
                                    .promocode__title Promocode:
                                    .promocode__value WWWWWWWWWWWW

                    .views-row
                        .upcoming__item
                            .upcoming__item-img
                                img(src="img/content/upcoming/item_2.png" alt="Sed ut perspiciatis unde accusantium doloremque")

                            .upcoming__item-info
                                .short__row
                                    .short.short--label Top Event
                                    .short 10 Sep 2020

                                .upcoming__item-title Sed ut perspiciatis unde accusantium doloremque
                                a.upcoming__item-link(href="#!") Read more

                    .views-row
                        .upcoming__item
                            .upcoming__item-img
                                img(src="img/content/upcoming/item_3.png" alt="Lorem ipsum dolor sit amet")

                            .upcoming__item-info
                                .short__row
                                    .short 20 Sep 2020

                                .upcoming__item-title Lorem ipsum dolor sit amet
                                a.upcoming__item-link(href="#!") Read more

                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                    .views-row
                        .upcoming__item
                            .upcoming__item-img
                                img(src="img/content/upcoming/item_1.png" alt="Blockspot Conference Europe 2020")

                            .upcoming__item-info
                                .short__row
                                    .short 1 Sep 2020

                                .upcoming__item-title Blockspot Conference Europe 2020
                                a.upcoming__item-link(href="#!") Read more

                                a.btn.btn--accent.btn--large.btn--event(href="#!") Buy tickets

                                .promocode
                                    .promocode__title Promocode:
                                    .promocode__value WWWWWWWWWWWW

        .aside
            include blocks/aside.pug
