extends layouts/layout.pug

block title
    title Main | CC

block content
    .big-story
        .big-story__item
            .big-story__header
                a.humble(href="#!") News
                .humble.big-story__mark Promoted

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="https://u.today/sites/default/files/styles/400/public/2020-04/2020-04-04%2016.14.05.jpg?itok=gtYXCQMM")
            a.big-story__title.link-plain(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best

        .big-story__item
            .big-story__header
                a.humble(href="#!") News

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="https://u.today/sites/default/files/styles/400/public/2020-04/2982.jpg?itok=Mc_wAk2l")
            a.big-story__title.link-plain(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best

        .big-story__item
            .big-story__header
                a.humble(href="#!") News

            a.big-story__img-wrapper(href="#!")
                img.big-story__img(src="https://u.today/sites/default/files/styles/400/public/2020-04/2986.jpg.webp")
            a.big-story__title.link-plain(href="#!") Bitcoin Cloud Mining Contracts 2019 — Looking for the Best

    .f-container

        .story
            .story__header
                .humble__row
                    a.humble(href="#!") Cryptocurrency trading
                    .humble.humble--time 1 day 15 hours ago
                a.story__title-link.link-plain(href="#!")
                    h2.story__title Tron Surpasses Rival Blockchains

            a.story__img-wrapper.link-plain(href="#!")
                img.story__img(src="https://u.today/sites/default/files/styles/736x/public/2019-12/1524.jpg?itok=LN2Ej_tZ")

            .story__footer
                a.story__desc.link-plain(href="#!") Another 30 mln USDT moved from the Ethereum chain to Tron, reports Misha Lederman, a major Tron supporter as Justin Sun recommends Poloniex for USDT-Tron conversion
                .humble__row
                    a.humble.humble--author(href="#!")
                        img.humble__img(src="https://u.today/sites/default/files/2019-11/geof-big_0.jpg")
                        | Geoffrey Schwartz
                    .humble.humble--icon.humble--icon-large 77

        .category-item
            a.category-item__img-wrapper(href="#!")
                img.category-item__img(src="https://u.today/sites/default/files/styles/250/public/2020-04/2963.jpg?itok=l2-ezqge")

            .category-item__info
                .humble__row
                    a.humble(href="#!") Stories
                    .humble.humble--time 2 hours ago

                a.category-item__title-link(href="#!")
                    h3.category-item__title How to Protect Your Identity and Bitcoin Wallet From Tracking

                .humble__row.humble--between
                    a.humble.humble--author(href="#!")
                        img.humble__img(src="https://u.today/sites/default/files/2019-11/vlad-ava.jpg")
                        | Vladislav Sopov

                    .humble.humble--icon.humble--icon-large 2

        include blocks/aside.pug
