extends layouts/layout.pug

block title
    title Modal | CC

block content
    .f-container
        .main-block
            button.btn.btn--accent(data-modal="subscribe-1") Subscribe email 1
            button.btn.btn--accent(data-modal="subscribe-2") Subscribe email 2
            button.btn.btn--accent(data-modal="thank-you") Thank you