extends layouts/layout.pug

block title
    title Terms & conditions | CC

block content
    .f-container
        .main-block
            .infoblock
                h1 Terms & conditions

                p We reserve the right at any time to:

                ul
                    li Change the terms and conditions of the ToU
                    li Change all or any portion of the CryptoComes.com Sites, including eliminating or discontinuing any content or feature
                    li or Change other conditions for use of the CryptoComes.com Sites.
                    li Any changes we make to the ToU will be effective immediately after we post the modified ToU on CryptoComes.com.

            .infoblock
                h2 Content on the CryptoComes.com Sites

                p All of the information and other content displayed on, transmitted through, or used in connection with the CryptoComes.com Sites, including for example, advertising, directories, guides, articles, opinions, reviews, text, photographs, images, illustrations, audio clips, video, html, source and object code, software, data, the selection and arrangement of the aforementioned (collectively, the "Content"), are protected under applicable copyrights and other proprietary (including but not limited to intellectual property) rights and are the intellectual property of CryptoComes.com, and its affiliated companies, licensors and suppliers. CryptoComes.com actively protects its rights to the Content to the fullest extent of the law.

                p You may use the Content online and solely for your personal, non-commercial use, and you may download or print a single copy of any portion of the Content for your personal, non-commercial use, provided you do not remove any trademark, copyright or other notice contained in such Content.

                p You may not republish the Content on any Internet, Intranet or Extranet site or incorporate the Content in any database, compilation, archive or cache or store the Content in electronic form on your computer or mobile device unless otherwise expressly permitted by CryptoComes.com. You may not distribute any of the Content to others, whether or not for payment or other consideration, and you may not modify, copy, frame, reproduce, sell, publish, transmit, display or otherwise use any portion of the Content, except as permitted by the ToU or by securing the prior written consent of CryptoComes.com.

                p The Content includes logotypes, trademarks and service marks (collectively "Marks") owned by CryptoComes.com, and Marks owned by other information providers and third parties. No Marks may be used in any manner unless approved in advance, in writing by CryptoComes.com.

            .infoblock
                h2 Permission to Use

                p You may include excerpts or limited portions of CryptoComes.com information in printed memos, reports and presentations. We only ask that you attribute this information to us by including "Used with permission from CryptoComes.com. Copyright 2018 CryptoComes.com. All rights reserved."

                p Any other reproduction of CryptoComes.com content requires permission from us, and some forms of reproduction will require you to pay a licensing fee. Please note: If the contents you request are the property of a third-party, we may not be able to grant permission.

                p To post articles on your Web site or distribute articles via e-mail, for information regarding hard copy reprints write to <a href="mailto:hello@CryptoComes.com">hello@CryptoComes.com</a>

                p If permission is granted, stories must be reproduced in their entirety, unedited, and accompanied by the above-listed copyright statement and credit.

                p CryptoComes.com photos, graphics, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium or stored in a computer except for personal and noncommercial use.

                p CryptoComes.com will not be held liable for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or any damages arising from any of the foregoing.

                p Certain markets data is provided for informational purposes only and is not intended for trading purposes. CryptoComes.com shall not be liable for any errors or delays in content, or for any actions taken in reliance thereon.

            .infoblock
                h2 Infringement Complaints

                p CryptoComes.com respects the intellectual property of others. If you believe that your work has been copied in a way that constitutes copyright infringement or are aware of any infringing material placed by any third party on the Website, please contact us by email at <a href="mailto:hello@CryptoComes.com">hello@CryptoComes.com</a>

            .infoblock
                h2 Disclaimer of Warranty and Limitation of Liability

                p The information, products and services on the CryptoComes.com Sites are provided on a strictly "as is," "where is" and "where available" basis. CryptoComes.com does not provide any warranties (either express or implied) with respect to the information provided on any CryptoComes.com site and/or your use of any of the CryptoComes.com Sites generally or for any particular purpose. CryptoComes.com expressly disclaims any implied warranties, including but not limited to, warranties of title, non-infringement, merchantability or fitness for a particular purpose. CryptoComes.com will not be responsible for any loss or damage that could result from interception by third parties of any information made available to you via the CryptoComes.com Sites or any of them. Although the information provided to you on this website is obtained or compiled from sources we believe to be reliable,

                p CryptoComes.com cannot and does not guarantee the accuracy, validity, timeliness, or completeness of any information or data made available to you for any particular purpose. Neither CryptoComes.com, nor any of its affiliates, directors, officers or employees, nor any third party providers of content, software and/or technology (collectively, the " CryptoComes.com parties"), will be liable or have any responsibility of any kind for any loss or damage that you incur in the event of any failure or interruption of any CryptoComes.com site, or resulting from the act or omission of any other party involved in making any CryptoComes.com site, the data contained therein or the products or services offered thereby available to you, or from any other cause relating to your access to, inability to access, or use of any CryptoComes.com site or the materials contained therein, whether or not the circumstances giving rise to such cause may have been within the control of CryptoComes.com or of any vendor providing software or services.

                p In no event will CryptoComes.com or any of the CryptoComes.com parties be liable to you, whether in contract or tort, for any direct, special, indirect, consequential or incidental damages or any other damages of any kind even if CryptoComes.com or any other such party has been advised of the possibility thereof. This limitation on liability includes, but is not limited to, the transmission of any viruses which may infect a user's equipment, failure of mechanical or electronic equipment or communication lines, telephone or other interconnect problems (e.g., you cannot access your internet service provider), unauthorized access, theft, operator errors, strikes or other labor problems or any force majeure. CryptoComes.com cannot and does not guarantee continuous, uninterrupted or secure access to any of the CryptoComes.com Sites.

            .infoblock
                h2 Disclaimer

                p All writers' opinions are their own and do not constitute financial advice in any way whatsoever. Nothing published by CryptoComes.com constitutes an investment recommendation, nor should any data or Content published by CryptoComes.com be relied upon for any investment activities. CryptoComes.com strongly recommends that you perform your own independent research and/or speak with a qualified investment professional before making any financial decisions.

            .infoblock
                h2 Links to other sites

                p Certain links, including hypertext links, in our site will take you to external websites. These are provided for your convenience and inclusion of any link does not imply endorsement or approval by CryptoComes.com of the linked site, its operator or its content. Each of those websites have their own "Terms and Conditions." We are not responsible for the content of any website outside of the CryptoComes.com Sites. We do not monitor and assume no duty to monitor the content of any such third-party websites.

                p
                    strong Contact <br>
                    a(href="mailto:hello@CryptoComes.com") hello@CryptoComes.com

                p
                    strong Any rights not expressly granted herein are reserved. <br>
                    | © 2018 CryptoComes.com

                p Updated on March 14, 2018

        .aside
            include blocks/aside.pug
